[package]
name = "mc-rs-generate"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
authors = ["EightFactorial"]
homepage = "https://github.com/EightFactorial/MC-RS"
repository = "https://github.com/EightFactorial/MC-RS"
readme = "README.md"

[lints]
workspace = true

[dependencies]
clap = { version = "4.4", features = ["derive"] }
convert_case = "0.6"
git2 = "0.18"
itertools = { workspace = true }
json = "0.12"
mc-rs-extract = { version = "0.1", path = "../mc-rs-extract" }
prettyplease = "0.2"
proc-macro2 = { version = "1.0", features = ["nightly"] }
quote = "1.0"
reqwest = { version = "0.11", features = ["rustls-tls", "json"], default-features = false }
serde = { workspace = true }
serde_json = { workspace = true, features = ["arbitrary_precision", "preserve_order"] }
strum = { workspace = true }
syn = { version = "2.0", features = ["extra-traits"] }
tokio = { version = "1.35", features = ["full"] }
tracing = { workspace = true }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
zip = { workspace = true }
