[package]
name = "froglight-loading"

[package.version]
workspace = true
[package.edition]
workspace = true
[package.license]
workspace = true
[package.authors]
workspace = true
[package.homepage]
workspace = true
[package.repository]
workspace = true
[package.readme]
workspace = true

[lints]
workspace = true

[dependencies]
bevy = { workspace = true }
froglight-core = { version = "0.1.0", path = "../froglight-core" }
froglight-gui = { version = "0.1.0", path = "../froglight-gui" }
