[package]
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
name = "froglight-world"
readme = { workspace = true }
repository = { workspace = true }
version = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dev-dependencies]
proptest = { workspace = true }

[dependencies]
bevy_platform = { features = ["alloc"], workspace = true }
bitvec = { default-features = false, features = ["alloc"], version = "1.0" }
derive_more = { workspace = true }
froglight-common = { workspace = true }
glam = { workspace = true }
parking_lot = { workspace = true }
thiserror = { workspace = true }

# Optional dependencies
bevy_app = { features = ["bevy_reflect"], optional = true, workspace = true }
bevy_ecs = { features = ["bevy_reflect"], optional = true, workspace = true }
bevy_reflect = { features = ["glam"], optional = true, workspace = true }
downcast-rs = { optional = true, workspace = true }
froglight-block = { optional = true, workspace = true }
froglight-io = { features = ["glam"], optional = true, workspace = true }
froglight-nbt = { optional = true, workspace = true }

[features]
default = ["nbt", "std"]

# Enable `froglight-block` support
block = ["dep:froglight-block"]
# Enable `froglight-nbt` support
nbt = ["dep:froglight-nbt"]

# Enable `froglight-io` support
io = ["dep:froglight-io", "froglight-nbt/io", "nbt"]

# Enable `bevy` support.
bevy = [
  "dep:bevy_app",
  "dep:bevy_ecs",
  "dep:bevy_reflect",
  "dep:downcast-rs",
  "froglight-block?/bevy",
  "froglight-common/bevy",
  "froglight-common/reflect",
  "froglight-nbt?/reflect",
]

# Enable nightly features.
nightly = ["froglight-block?/nightly", "froglight-io?/nightly", "froglight-nbt?/nightly", "parking_lot/nightly"]

# Enable support for the rust standard library.
std = ["bevy_platform/std", "bevy_reflect?/std", "bitvec/std", "glam/std"]
# Enable `no_std` support for `glam`.
libm = ["glam/libm"]

# Enable support for v1.21.4
v1_21_4 = ["froglight-block?/v1_21_4", "froglight-common/v1_21_4"]
# Enable support for v1.21.5
v1_21_5 = ["froglight-block?/v1_21_5", "froglight-common/v1_21_5"]
