[package]
name = "froglight-world"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }
exclude = ["benches"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dev-dependencies]
criterion = { workspace = true }
proptest = { workspace = true }

[dependencies]
bevy = { workspace = true }
bitvec = { workspace = true }
bytemuck = { workspace = true, features = ["nightly_stdsimd"] }
compact_str = { workspace = true }
derive_more = { workspace = true }
froglight-core = { version = "0.1.0", path = "../froglight-core" }
froglight-macros = { version = "0.1.0", path = "../froglight-macros", features = [
    "world",
] }
froglight-protocol = { version = "0.1.0", path = "../froglight-protocol" }
futures-lite = { workspace = true }
hashbrown = { workspace = true }
parking_lot = { workspace = true }
phf = { workspace = true, features = ["macros"] }
serde = { workspace = true }
simdnbt = { workspace = true }
strum = { workspace = true }
thiserror = { workspace = true }

[features]
default = []

# Benchmark
[[bench]]
name = "chunk_decode"
path = "benches/chunk_decode.rs"
harness = false
