[package]
name = "froglight-macros"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[lib]
proc-macro = true

[dependencies]
attribute-derive = { version = "0.8.1", features = ["syn-full"] }
proc-macro2 = { version = "1.0.79", features = ["nightly"] }
quote = { version = "1.0.35", features = ["proc-macro"] }
syn = { version = "2.0.52", features = ["full", "printing", "quote"] }

[features]
default = []

# Enables `froglight-assets` macros
assets = []

# Enables `froglight-protocol` macros
protocol = []
# Enables extra logging for `froglight-protocol` macros
protocol_log = ["protocol"]

# Enables `froglight-world` macros
world = []
