[package]
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
name = "froglight-macros"
readme = { workspace = true }
repository = { workspace = true }
version = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lib]
proc-macro = true

[lints]
workspace = true

[dependencies]
convert_case = "0.7"
darling = "0.20"
parking_lot = { workspace = true }
proc-macro2 = "1.0"
quote = { version = "1.0", features = ["proc-macro"] }
syn = { version = "2.0", features = ["full", "printing", "proc-macro"] }
toml_edit = { version = "0.22", default-features = false, features = ["parse"] }

[features]
default = []

# Enable `froglight-block` macros.
block = []
# Enable `froglight-common` macros.
common = []
# Enable `froglight-io` macros.
io = []
# Enable `froglight-item` macros.
item = []
# Enable `froglight-nbt` macros.
nbt = []
# Enable `froglight-network` macros.
network = []
# Enable `froglight-registry` macros.
registry = []
