[package]
name = "froglight-macros"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[lib]
proc-macro = true

[dependencies]
quote = "1.0.35"
syn = "2.0.52"

[features]
default = []

# Enables `froglight-protocol` macros
protocol = []

# Enables `froglight-world` macros
world = []
