[package]
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
name = "froglight-packet"
readme = { workspace = true }
repository = { workspace = true }
version = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dependencies]
bevy_platform = { features = ["alloc", "serialize"], workspace = true }
derive_more = { workspace = true }
froglight-common = { features = ["serde"], workspace = true }
froglight-entity = { features = ["serde"], workspace = true }
froglight-macros = { workspace = true }
froglight-nbt = { features = ["serde"], workspace = true }
froglight-physics = { workspace = true }
froglight-text = { features = ["serde"], workspace = true }
froglight-utils = { workspace = true }
froglight-world = { features = ["nbt"], workspace = true }
glam = { features = ["serde"], workspace = true }
serde = { features = ["derive"], workspace = true }
serde_json = { features = ["alloc"], workspace = true }
smallvec = { features = ["serde"], workspace = true }
smol_str = { features = ["serde"], workspace = true }
thiserror = { workspace = true }
uuid = { features = ["serde"], workspace = true }

# Optional dependencies
bevy_ecs = { features = ["bevy_reflect"], optional = true, workspace = true }
bevy_reflect = { features = ["glam", "smallvec", "smol_str", "uuid"], optional = true, workspace = true }
froglight-brigadier = { features = ["glam", "nbt", "serde", "uuid"], optional = true, workspace = true }
froglight-inventory = { features = ["world"], optional = true, workspace = true }
froglight-io = { features = ["bevy_platform", "glam", "serde", "smallvec"], optional = true, workspace = true }
froglight-registry = { optional = true, workspace = true }
tracing = { optional = true, workspace = true }

[features]
default = ["bevy", "brigadier", "inventory", "io", "std"]

# Enable `froglight-brigadier` support.
brigadier = ["bevy", "dep:froglight-brigadier"]
# Enable `froglight-inventory` support.
inventory = ["dep:froglight-inventory"]
# Enable `froglight-registry` support.
registry = ["dep:froglight-registry"]

# Enable `froglight-io` support.
io = [
  "dep:froglight-io",
  "froglight-brigadier?/io",
  "froglight-entity/io",
  "froglight-inventory?/io",
  "froglight-macros/io",
  "froglight-nbt/io",
  "froglight-physics/io",
  "froglight-utils/io",
  "froglight-world/io",
  "std",
]

# Enable `bevy` support.
bevy = [
  "dep:bevy_ecs",
  "dep:bevy_reflect",
  "froglight-common/bevy",
  "froglight-common/reflect",
  "froglight-inventory?/bevy",
  "froglight-io?/bevy_platform",
  "froglight-nbt/reflect",
  "froglight-physics/bevy",
  "froglight-registry?/bevy",
  "froglight-text/bevy",
  "froglight-utils/reflect",
  "froglight-world/bevy",
]

# Enable nightly features.
nightly = [
  "froglight-brigadier?/nightly",
  "froglight-entity/nightly",
  "froglight-inventory?/nightly",
  "froglight-io?/nightly",
  "froglight-nbt/nightly",
  "froglight-physics/nightly",
  "froglight-registry?/nightly",
  "froglight-text/nightly",
  "froglight-utils/nightly",
  "froglight-world/nightly",
]
# Enable trace logs.
trace = ["dep:tracing", "froglight-io?/trace", "froglight-registry?/trace"]

# Enable support for the rust standard library.
std = [
  "bevy_platform/std",
  "bevy_reflect?/std",
  "froglight-inventory?/std",
  "froglight-nbt/std",
  "froglight-physics/std",
  "froglight-text/std",
  "froglight-utils/std",
  "froglight-world/std",
  "glam/std",
  "serde/std",
  "serde_json/std",
  "smol_str/std",
  "tracing?/std",
  "uuid/std",
]
# Enable `no_std` support for `glam`.
libm = ["froglight-physics/libm", "froglight-world/libm", "glam/libm"]

# Enable support for v1.21.4
v1_21_4 = [
  "froglight-common/v1_21_4",
  "froglight-inventory?/v1_21_4",
  "froglight-registry?/v1_21_4",
  "froglight-world/v1_21_4",
]
# Enable support for v1.21.5
v1_21_5 = [
  "froglight-common/v1_21_5",
  "froglight-inventory?/v1_21_5",
  "froglight-registry?/v1_21_5",
  "froglight-world/v1_21_5",
]
