# --- Workspace Settings ---

[workspace]
resolver = "2"
members = [
    "crates/froglight-client",
    "crates/froglight-core",
    "crates/froglight-entities",
    "crates/froglight-gui",
    "crates/froglight-loading",
    "crates/froglight-macros",
    "crates/froglight-network",
    "crates/froglight-physics",
    "crates/froglight-protocol",
    "crates/froglight-render",
    "crates/froglight-resourcepack",
    "crates/froglight-world",
]

[workspace.package]
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
authors = ["EightFactorial"]
homepage = "https://github.com/EightFactorial/FrogLight"
repository = "https://github.com/EightFactorial/FrogLight"
readme = "README.md"

[workspace.lints.rust]
missing_docs = "warn"
trivial_casts = "warn"
trivial_numeric_casts = "warn"
unused_lifetimes = "warn"
unused_import_braces = "warn"
unreachable_pub = "warn"

[workspace.lints.rustdoc]
bare_urls = "deny"
broken_intra_doc_links = "deny"
private_intra_doc_links = "deny"
invalid_codeblock_attributes = "deny"
invalid_rust_codeblocks = "deny"
invalid_html_tags = "deny"

[workspace.lints.clippy]
cast_possible_truncation = "warn"
cast_possible_wrap = "warn"
module_name_repetitions = "allow"
needless_pass_by_value = "allow"
pedantic = "warn"
unnecessary_cast = "warn"

[workspace.dependencies]
bevy = "0.12.1"
bevy_xpbd_3d = "0.3.3"
bitvec = "1.0.1"
bytemuck = "1.14.0"
compact_str = "0.7.1"
derive_more = "0.99.17"
futures = "0.3.30"
hashbrown = "0.14.3"
serde = "1.0.195"
serde_json = "1.0.111"

# --- Build Settings ---

# Slightly optimize dev builds
[profile.dev]
opt-level = 1

# Fully optimize dependencies
[profile.dev.package."*"]
opt-level = 3

# Slightly optimize the some of the froglight packages
[profile.dev.package.froglight-client]
opt-level = 1

[profile.dev.package.froglight-core]
opt-level = 1

[profile.dev.package.froglight-gui]
opt-level = 1

[profile.dev.package.froglight-loading]
opt-level = 1

[profile.dev.package.froglight-macros]
opt-level = 1

[profile.dev.package.froglight-network]
opt-level = 1

[profile.dev.package.froglight-resourcepack]
opt-level = 1

# Fully optimize release builds
[profile.release]
codegen-units = 1
opt-level = 3
strip = true
lto = true

# --- FrogLight Package ---

[package]
name = "froglight"

[package.version]
workspace = true
[package.edition]
workspace = true
[package.license]
workspace = true
[package.authors]
workspace = true
[package.homepage]
workspace = true
[package.repository]
workspace = true
[package.readme]
workspace = true

[dependencies]
bevy = { workspace = true }
froglight-client = { version = "0.1.0", path = "crates/froglight-client" }
mimalloc = { version = "0.1.39", optional = true }

[features]
default = ["mimalloc"]

# Enables extra debug logs
# Enables logging in release builds
logging = ["froglight-client/logging"]

# Use mimalloc as the global allocator
mimalloc = ["dep:mimalloc"]
