# --- Workspace Settings ---

[workspace]
members = [
  "crates/froglight-block",
  "crates/froglight-brigadier",
  "crates/froglight-common",
  "crates/froglight-internal",
  "crates/froglight-inventory",
  "crates/froglight-io",
  "crates/froglight-item",
  "crates/froglight-macros",
  "crates/froglight-nbt",
  "crates/froglight-network",
  "crates/froglight-player",
  "crates/froglight-registry",
  "crates/froglight-schedule",
  "crates/froglight-world",
]
resolver = "2"

[workspace.package]
authors = ["EightFactorial"]
edition = "2024"
homepage = "https://github.com/EightFactorial/FrogLight"
license = "MIT OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/EightFactorial/FrogLight"
version = "0.1.0"

[workspace.lints.rust]
missing_docs = "warn"
trivial_casts = "warn"
trivial_numeric_casts = "warn"
unreachable_pub = "warn"
unused_import_braces = "warn"
unused_lifetimes = "warn"

[workspace.lints.rustdoc]
bare_urls = "deny"
broken_intra_doc_links = "deny"
invalid_codeblock_attributes = "deny"
invalid_html_tags = "deny"
invalid_rust_codeblocks = "deny"
private_intra_doc_links = "deny"

[workspace.lints.clippy]
cast_possible_truncation = "warn"
cast_possible_wrap = "warn"
clone_on_ref_ptr = "warn"
doc_markdown = "allow"
module_name_repetitions = "allow"
needless_pass_by_value = "allow"
pedantic = { level = "warn", priority = -1 }
unnecessary_cast = "warn"

[workspace.dependencies]
bevy = { version = "0.16", default-features = false, features = ["async_executor", "multi_threaded"] }
bevy_app = "0.16"
bevy_derive = "0.16"
bevy_diagnostic = "0.16"
bevy_ecs = { version = "0.16" }
bevy_log = "0.16"
bevy_math = "0.16"
bevy_platform = { version = "0.16", default-features = false }
bevy_reflect = { version = "0.16" }
bevy_state = "0.16"
bevy_tasks = { version = "0.16" }
bevy_time = "0.16"
bevy_transform = "0.16"
bevy_utils = "0.16"
bevy_winit = { version = "0.16", default-features = false }

# FrogLight
froglight-block = { version = "0.1", path = "crates/froglight-block" }
froglight-brigadier = { version = "0.1", path = "crates/froglight-brigadier" }
froglight-common = { version = "0.1", path = "crates/froglight-common" }
froglight-internal = { version = "0.1", path = "crates/froglight-internal" }
froglight-inventory = { version = "0.1", path = "crates/froglight-inventory" }
froglight-io = { version = "0.1", path = "crates/froglight-io" }
froglight-item = { version = "0.1", path = "crates/froglight-item" }
froglight-macros = { version = "0.1", path = "crates/froglight-macros" }
froglight-nbt = { version = "0.1", path = "crates/froglight-nbt" }
froglight-network = { version = "0.1", path = "crates/froglight-network" }
froglight-player = { version = "0.1", path = "crates/froglight-player" }
froglight-registry = { version = "0.1", path = "crates/froglight-registry" }
froglight-schedule = { version = "0.1", path = "crates/froglight-schedule" }
froglight-world = { version = "0.1", path = "crates/froglight-world" }

# Hashing / Cryptography
aes = { version = "0.8.4", features = ["zeroize"] }
base64 = "0.22.1"
cfb8 = { version = "0.8.1", features = ["std", "zeroize"] }
crc32fast = "1.4.2"
md-5 = { version = "0.10.6", features = ["std"] }
rsa = { version = "0.9.8", features = ["pem", "std"] }
sha2 = "0.10.8"

# Other
async-channel = "2.3"
async-compression = { version = "0.4", default-features = false }
async-io = "2.4"
async-net = "2.0"
blocking = "1.6"
derive_more = { version = "2.0", features = ["full"] }
downcast-rs = "2.0"
flate2 = "1.1"
futures-lite = "2.6"
glam = "0.29"
hashbrown = "0.15"
hashify = "0.2.6"
indexmap = "2.9"
nu-ansi-term = "0.46"
parking_lot = "0.12"
proptest = "1.6"
rangemap = { version = "1.5", features = ["const_fn"] }
regex = "1.11"
serde = "1.0"
serde_json = "1.0"
simd_cesu8 = "1.0"
smallvec = "1.15"
smol_str = "0.2"
thiserror = "2.0"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["tracing-log"] }
ureq = "3.0"
uuid = "1.16"

# --- FrogLight Crate ---

[package]
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
name = "froglight"
readme = { workspace = true }
repository = { workspace = true }
version = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dependencies]
froglight-internal = { workspace = true }

[features]
default = ["bevy", "brigadier"]

# Enable `bevy` support.
bevy = ["froglight-internal/bevy"]
# Enable the `froglight-brigadier` crate.
brigadier = ["bevy", "froglight-internal/brigadier"]
# Enable nightly features.
nightly = ["froglight-internal/nightly"]

# Enable support for v1.21.4
v1_21_4 = ["froglight-internal/v1_21_4"]
# Enable support for v1.21.5
v1_21_5 = ["froglight-internal/v1_21_4"]

# --- Build Settings ---

# Dev Builds
[profile.dev]
opt-level = 1

[profile.dev.build-override]
opt-level = 3

[profile.dev.package.froglight-block]
incremental = true
inherits = "dev"
opt-level = 3

[profile.dev.package.froglight-item]
incremental = true
inherits = "dev"
opt-level = 3

# Release Builds
[profile.release]
opt-level = 3

[profile.release.build-override]
opt-level = 3

[profile.release.package.froglight-block]
incremental = true
inherits = "release"

[profile.release.package.froglight-item]
incremental = true
inherits = "release"
# Bevy
