# --- Workspace Settings ---

[workspace]
resolver = "2"
members = [
    "crates/froglight-app",
    "crates/froglight-assets",
    "crates/froglight-client",
    "crates/froglight-core",
    "crates/froglight-entity",
    "crates/froglight-macros",
    "crates/froglight-network",
    "crates/froglight-protocol",
    "crates/froglight-registry",
    "crates/froglight-render",
    "crates/froglight-settings",
    "crates/froglight-utils",
    "crates/froglight-world",
]

[workspace.package]
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
authors = ["EightFactorial"]
homepage = "https://github.com/EightFactorial/FrogLight"
repository = "https://github.com/EightFactorial/FrogLight"
readme = "README.md"

[workspace.lints.rust]
missing_docs = "warn"
trivial_casts = "warn"
trivial_numeric_casts = "warn"
unused_lifetimes = "warn"
unused_import_braces = "warn"
unreachable_pub = "warn"

[workspace.lints.rustdoc]
bare_urls = "deny"
broken_intra_doc_links = "deny"
private_intra_doc_links = "deny"
invalid_codeblock_attributes = "deny"
invalid_rust_codeblocks = "deny"
invalid_html_tags = "deny"

[workspace.lints.clippy]
cast_possible_truncation = "warn"
cast_possible_wrap = "warn"
module_name_repetitions = "allow"
needless_pass_by_value = "allow"
pedantic = "warn"
unnecessary_cast = "warn"

[workspace.dependencies]
async-std = "1.12.0"
bevy = { version = "0.13.2", default-features = false }
bevy_app = "0.13.2"
bevy_asset = "0.13.2"
bevy_audio = "0.13.2"
bevy_core = "0.13.2"
bevy_derive = "0.13.2"
bevy_ecs = "0.13.2"
bevy_gizmos = "0.13.2"
bevy_hierarchy = "0.13.2"
bevy_input = "0.13.2"
bevy_log = "0.13.2"
bevy_math = "0.13.2"
bevy_reflect = "0.13.2"
bevy_render = "0.13.2"
bevy_sprite = "0.13.2"
bevy_tasks = "0.13.2"
bevy_text = "0.13.2"
bevy_time = "0.13.2"
bevy_transform = "0.13.2"
bevy_ui = "0.13.2"
bevy_window = "0.13.2"
bitvec = "1.0.1"
bytemuck = "1.15.0"
compact_str = "0.7.1"
criterion = "0.5.1"
derive_more = "0.99.17"
futures-lite = "2.3.0"
hashbrown = "0.14.3"
parking_lot = "0.12.2"
proptest = "1.4.0"
serde = "1.0.199"
serde_json = "1.0.116"
simdnbt = "0.4.2"
smallvec = "1.13.2"
thiserror = "1.0.59"
uuid = "1.8.0"

# --- Build Settings ---

# Slightly optimize dev builds
[profile.dev]
opt-level = 1

[profile.dev.package]
# Slightly optimize most froglight packages
froglight-app = { opt-level = 1 }
froglight-assets = { opt-level = 1 }
froglight-client = { opt-level = 1 }
froglight-core = { opt-level = 1 }
froglight-entity = { opt-level = 1 }
froglight-macros = { opt-level = 1 }
froglight-network = { opt-level = 1 }
froglight-registry = { opt-level = 1 }
froglight-settings = { opt-level = 1 }
froglight-utils = { opt-level = 1 }
froglight-world = { opt-level = 1 }
# Fully all other packages
"*" = { opt-level = 3 }

# Fully optimize release builds
[profile.release]
opt-level = 3
strip = true
lto = true

# --- FrogLight Package ---

[package]
name = "froglight"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
bevy = { workspace = true, features = ["default", "wayland"] }
froglight-app = { version = "0.1.0", path = "crates/froglight-app" }
mimalloc = { version = "0.1.41", optional = true }

[[bin]]
name = "froglight"
path = "src/bin/froglight/main.rs"

[lib]
name = "froglight"
path = "src/lib/froglight/lib.rs"

[features]
default = []

# Use mimalloc as the global allocator
# Only applies to the froglight binary
mimalloc = ["dep:mimalloc"]

[[example]]
name = "hello_world"
path = "examples/systems/hello_world/main.rs"

[[example]]
name = "system_schedules"
path = "examples/systems/system_schedules/main.rs"

[[example]]
name = "custom_plugin"
path = "examples/plugins/custom_plugin/main.rs"

[[example]]
name = "disable_logs"
path = "examples/plugins/disable_logs/main.rs"

[[example]]
name = "basic_resource"
path = "examples/resources/basic_resource/main.rs"

[[example]]
name = "insert_resources"
path = "examples/resources/insert_resource/main.rs"
