[workspace]
resolver = "2"
members = [
    "crates/mc-rs",
    "crates/mc-rs-proto",
    "crates/mc-rs-macros",
    "crates/mc-rs-ext",
    "crates/mc-rs-gen",
    "crates/classfile-rs",
]
default-members = [
    "crates/mc-rs",
]

[profile.dev.package."*"]
opt-level = 3

[profile.dev]
opt-level = 1
strip = false
incremental = true

[profile.release]
lto = "fat"
strip = true
codegen-units = 1
incremental = false
