# --- Workspace Settings ---

[workspace]
members = [
  "crates/froglight-block",
  "crates/froglight-brigadier",
  "crates/froglight-common",
  "crates/froglight-entity",
  "crates/froglight-internal",
  "crates/froglight-inventory",
  "crates/froglight-io",
  "crates/froglight-item",
  "crates/froglight-macros",
  "crates/froglight-nbt",
  "crates/froglight-network",
  "crates/froglight-packet",
  "crates/froglight-registry",
  "crates/froglight-resolver",
  "crates/froglight-schedule",
  "crates/froglight-text",
  "crates/froglight-world",
]
resolver = "2"

[workspace.package]
authors = ["EightFactorial"]
edition = "2024"
homepage = "https://github.com/EightFactorial/FrogLight"
license = "MIT OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/EightFactorial/FrogLight"
version = "0.1.0"

[workspace.lints.rust]
missing_docs = "warn"
trivial_casts = "warn"
trivial_numeric_casts = "warn"
unreachable_pub = "warn"
unused_import_braces = "warn"
unused_lifetimes = "warn"

[workspace.lints.rustdoc]
bare_urls = "deny"
broken_intra_doc_links = "deny"
invalid_codeblock_attributes = "deny"
invalid_html_tags = "deny"
invalid_rust_codeblocks = "deny"
private_intra_doc_links = "deny"

[workspace.lints.clippy]
cast_possible_truncation = "warn"
cast_possible_wrap = "warn"
clone_on_ref_ptr = "warn"
doc_markdown = "allow"
module_name_repetitions = "allow"
needless_pass_by_value = "allow"
pedantic = { level = "warn", priority = -1 }
unnecessary_cast = "warn"

[workspace.dependencies]
# Bevy
bevy = { version = "0.16", default-features = false, features = ["async_executor", "multi_threaded"] }
bevy_app = { version = "0.16", default-features = false }
bevy_derive = "0.16"
bevy_diagnostic = { version = "0.16", default-features = false }
bevy_ecs = { version = "0.16", default-features = false }
bevy_log = { version = "0.16", default-features = false }
bevy_math = { version = "0.16", default-features = false }
bevy_platform = { version = "0.16", default-features = false }
bevy_reflect = { version = "0.16", default-features = false }
bevy_state = { version = "0.16", default-features = false }
bevy_tasks = { version = "0.16", default-features = false }
bevy_time = { version = "0.16", default-features = false }
bevy_transform = { version = "0.16", default-features = false }
bevy_utils = { version = "0.16", default-features = false }
bevy_winit = { version = "0.16", default-features = false }

# FrogLight
froglight-block = { version = "0.1", path = "crates/froglight-block" }
froglight-brigadier = { version = "0.1", path = "crates/froglight-brigadier", default-features = false }
froglight-common = { version = "0.1", path = "crates/froglight-common", features = ["alloc"] }
froglight-entity = { version = "0.1", path = "crates/froglight-entity", default-features = false }
froglight-internal = { version = "0.1", path = "crates/froglight-internal", default-features = false }
froglight-inventory = { version = "0.1", path = "crates/froglight-inventory", default-features = false }
froglight-io = { version = "0.1", path = "crates/froglight-io" }
froglight-item = { version = "0.1", path = "crates/froglight-item" }
froglight-macros = { version = "0.1", path = "crates/froglight-macros" }
froglight-nbt = { version = "0.1", path = "crates/froglight-nbt", default-features = false }
froglight-network = { version = "0.1", path = "crates/froglight-network" }
froglight-packet = { version = "0.1", path = "crates/froglight-packet", default-features = false }
froglight-registry = { version = "0.1", path = "crates/froglight-registry" }
froglight-resolver = { version = "0.1", path = "crates/froglight-resolver", default-features = false }
froglight-schedule = { version = "0.1", path = "crates/froglight-schedule", default-features = false }
froglight-text = { version = "0.1", path = "crates/froglight-text", default-features = false }
froglight-world = { version = "0.1", path = "crates/froglight-world", default-features = false }

# Hashing / Cryptography
aes = { version = "0.8.4", features = ["zeroize"] }
base64 = { version = "0.22.1", default-features = false, features = ["alloc"] }
cfb8 = { version = "0.8.1", features = ["alloc", "zeroize"] }
crc32fast = { version = "1.4.2", default-features = false }
md-5 = { version = "0.10.6", default-features = false }
rsa = { version = "0.9.8", default-features = false, features = ["pem"] }
sha2 = { version = "0.10.9", default-features = false }

# Other
async-channel = { version = "2.3", default-features = false }
async-compression = { version = "0.4", default-features = false }
async-io = "2.4"
async-net = "2.0"
blocking = "1.6"
derive_more = { version = "2.0", default-features = false, features = ["full"] }
downcast-rs = { version = "2.0", default-features = false, features = ["sync"] }
flate2 = "1.1"
futures-lite = { version = "2.6", default-features = false, features = ["alloc"] }
glam = { version = "0.29", default-features = false }
hashify = "0.2.6"
hickory-resolver = { version = "0.25", default-features = false }
indexmap = { version = "2.9", default-features = false }
nu-ansi-term = "0.46"
parking_lot = "0.12"
proptest = "1.6"
rangemap = { version = "1.5", features = ["const_fn"] }
regex = { version = "1.11", default-features = false, features = ["perf", "unicode"] }
serde = { version = "1.0", default-features = false, features = ["alloc"] }
serde_json = { version = "1.0", default-features = false, features = ["alloc"] }
simd_cesu8 = { version = "1.0", default-features = false }
smallvec = { version = "1.15", features = ["const_new"] }
smol_str = { version = "0.2", default-features = false }
thiserror = { version = "2.0", default-features = false }
tracing = { version = "0.1", default-features = false }
tracing-subscriber = { version = "0.3", features = ["tracing-log"] }
ureq = "3.0"
uuid = { version = "1.16", default-features = false }

# --- Build Settings ---

# Dev Builds
[profile.dev]
opt-level = 1

[profile.dev.build-override]
opt-level = 3

[profile.dev.package.froglight-block]
incremental = true
inherits = "dev"
opt-level = 3

[profile.dev.package.froglight-item]
incremental = true
inherits = "dev"
opt-level = 3

# Release Builds
[profile.release]
opt-level = 3

[profile.release.build-override]
opt-level = 3

[profile.release.package.froglight-block]
incremental = true
inherits = "release"

[profile.release.package.froglight-item]
incremental = true
inherits = "release"

# --- FrogLight Crate ---

[package]
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
name = "froglight"
readme = { workspace = true }
repository = { workspace = true }
version = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dependencies]
froglight-internal = { workspace = true }

[features]
default = ["bevy", "brigadier", "nightly", "std"]

# Enable the `froglight-brigadier` crate.
brigadier = ["froglight-internal/brigadier"]

# Enable `bevy` support.
bevy = ["froglight-internal/bevy"]
# Enable various crates' nightly features.
nightly = ["froglight-internal/nightly"]

# Enable support for rust's standard library.
std = ["froglight-internal/std"]
# Enable `no_std` support for glam.
libm = ["froglight-internal/libm"]

# Enable support for v1.21.4
v1_21_4 = ["froglight-internal/v1_21_4"]
# Enable support for v1.21.5
v1_21_5 = ["froglight-internal/v1_21_5"]
