[package]
name = "mc-rs"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
authors = ["EightFactorial"]
homepage = "https://github.com/EightFactorial/MC-RS"
repository = "https://github.com/EightFactorial/MC-RS"
readme = "README.md"

[workspace]
resolver = "2"
members = [
    "crates/mc-rs-client",
    "crates/mc-rs-core",
    "crates/mc-rs-gui",
    "crates/mc-rs-macros",
    "crates/mc-rs-network",
    "crates/mc-rs-protocol",
    "crates/mc-rs-resourcepack",
    "crates/tools/classfile-rs",
    "crates/tools/mc-rs-extract",
    "crates/tools/mc-rs-generate",
]

[workspace.dependencies]
azalea-chat = { version = "0.8", default-features = false }
azalea-nbt = { version = "0.8", git = "https://github.com/EightFactorial/azalea.git", branch = "nbt", default-features = false }
bevy = "0.12"
bevy_rapier3d = { version = "0.23", features = ["parallel"] }
compact_str = { version = "0.7", features = ["serde", "smallvec"] }
derive_more = "0.99"
futures-lite = { version = "2.0", features = ["futures-io"] }
itertools = "0.12"
tracing = { version = "0.1" }
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0" }
smallvec = { version = "1.11", features = ["const_generics", "const_new", "union", "write"] }
strum = { version = "0.25", features = ["derive"] }
uuid = "1.6"

# Optimize build scripts
[profile.dev.build-override]
opt-level = 3

[profile.release.build-override]
opt-level = 3

# Only slightly optimize the debug builds
[profile.dev]
incremental = true
opt-level = 1

# Optimize all dependencies
[profile.dev.package."*"]
opt-level = 3

# Only slightly optimize the client, core, and gui crates
[profile.dev.package.mc-rs-client]
opt-level = 1

[profile.dev.package.mc-rs-core]
opt-level = 1

[profile.dev.package.mc-rs-gui]
opt-level = 1

# Optimize the network and protocol crates
[profile.dev.package.mc-rs-network]
opt-level = 3

[profile.dev.package.mc-rs-protocol]
opt-level = 3

# Optimize release builds
[profile.release]
incremental = false
opt-level = 3
strip = true
lto = true

[dependencies]
bevy = { workspace = true }
mc-rs-client = { version = "0.1", path = "crates/mc-rs-client" }

[features]
default = ["simd"]

# Enable debug features
debug = ["mc-rs-client/debug"]
# Enable bevy-rapier debug features
debug_rapier = ["mc-rs-client/debug_rapier"]

# Enable simd features
simd = ["mc-rs-client/simd"]
# !! Currently broken on the latest nightly !!
simd_advanced = ["mc-rs-client/simd_advanced"]

# Enable wayland features
wayland = ["bevy/wayland"]
