[package]
name = "mc-rs"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
authors = ["EightFactorial"]
homepage = "https://github.com/EightFactorial/MC-RS"
repository = "https://github.com/EightFactorial/MC-RS"
readme = "README.md"

[workspace]
resolver = "2"
members = [
    "crates/mc-rs-core",
    "crates/mc-rs-interface",
    "crates/mc-rs-macros",
    "crates/mc-rs-network",
    "crates/mc-rs-protocol",
    "crates/tools/classfile-rs",
    "crates/tools/mc-rs-extract",
    "crates/tools/mc-rs-generate",
]

[workspace.dependencies]
azalea-chat = { version = "0.8.0", default-features = false }
azalea-nbt = { version = "0.8.0", git = "https://github.com/EightFactorial/azalea.git", branch = "nbt", default-features = false }
bevy = "0.11"
bevy_rapier3d = { version = "0.22.0", features = ["parallel"] }
compact_str = { version = "0.7", features = ["serde", "smallvec"] }
derive_more = "0.99"
futures-lite = { version = "2.0", features = ["futures-io"] }
itertools = "0.11"
log = { version = "0.4", features = ["std"] }
serde = { version = "1.0", features = ["derive"] }
smallvec = { version = "1.11", features = ["const_generics", "const_new", "union", "write"] }
strum = { version = "0.25", features = ["derive"] }
uuid = "1.5"

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3

[profile.dev.package.mc-rs-network]
opt-level = 3

[profile.dev.package.mc-rs-protocol]
opt-level = 3

[profile.release]
opt-level = "s"
strip = true
lto = true

[dependencies]
bevy = { workspace = true }
mc-rs-core = { version = "0.1.0", path = "crates/mc-rs-core" }
mc-rs-interface = { version = "0.1.0", path = "crates/mc-rs-interface" }
mc-rs-network = { version = "0.1.0", path = "crates/mc-rs-network" }

# Enable wayland support on linux
[target.'cfg(target_os = "linux")'.dependencies]
bevy = { workspace = true, features = ["wayland"] }

[features]
default = ["simd"]

# Enable debug features
debug = ["mc-rs-core/debug", "mc-rs-interface/debug", "mc-rs-network/debug"]
# Enable bevy-rapier debug features
debug_rapier = ["mc-rs-core/debug_rapier"]

# Enable simd features
simd = ["mc-rs-core/simd", "mc-rs-interface/simd", "mc-rs-network/simd"]
# !! Currently broken on the latest nightly !!
simd_advanced = ["mc-rs-core/simd_advanced", "mc-rs-interface/simd_advanced", "mc-rs-network/simd_advanced"]

