# --- Workspace Settings ---

[workspace]
resolver = "2"
members = [
  "crates/froglight-block",
  "crates/froglight-common",
  "crates/froglight-diagnostic",
  "crates/froglight-entity",
  "crates/froglight-internal",
  "crates/froglight-macros",
  "crates/froglight-network",
  "crates/froglight-physics",
  "crates/froglight-protocol",
  "crates/froglight-registry",
  "crates/froglight-utils",
  "crates/froglight-world",
]

[workspace.package]
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
authors = ["EightFactorial"]
homepage = "https://github.com/EightFactorial/FrogLight"
repository = "https://github.com/EightFactorial/FrogLight"
readme = "README.md"

[workspace.lints.rust]
missing_docs = "warn"
trivial_casts = "warn"
trivial_numeric_casts = "warn"
unused_lifetimes = "warn"
unused_import_braces = "warn"
unreachable_pub = "warn"

[workspace.lints.rustdoc]
bare_urls = "deny"
broken_intra_doc_links = "deny"
private_intra_doc_links = "deny"
invalid_codeblock_attributes = "deny"
invalid_rust_codeblocks = "deny"
invalid_html_tags = "deny"

[workspace.lints.clippy]
cast_possible_truncation = "warn"
cast_possible_wrap = "warn"
module_name_repetitions = "allow"
needless_pass_by_value = "allow"
pedantic = { level = "warn", priority = -1 }
unnecessary_cast = "warn"

[workspace.dependencies]
async-std = { version = "1.13", default-features = false }
bevy = { version = "0.15", default-features = false }
bevy_app = "0.15"
bevy_core = "0.15"
bevy_derive = "0.15"
bevy_diagnostic = "0.15"
bevy_ecs = "0.15"
bevy_hierarchy = "0.15"
bevy_log = "0.15"
bevy_math = "0.15"
bevy_reflect = "0.15"
bevy_state = "0.15"
bevy_tasks = "0.15"
bevy_time = "0.15"
bevy_transform = "0.15"
bevy_utils = "0.15"
bevy_winit = { version = "0.15", default-features = false }
# bevy-inspector-egui = { version = "0.27.0", default-features = false }
bitvec = "1.0"
bytemuck = { version = "1.21", features = ["latest_stable_rust"] }
compact_str = "0.8"
derive_more = { version = "2.0", features = ["full"] }
futures-lite = "2.5"
glam = "0.29"
hashbrown = "0.14"
parking_lot = "0.12"
phf = { version = "0.11", features = ["macros"] }
proptest = "1.5"
serde = "1.0"
serde_json = "1.0"
simdnbt = "0.6.1"
smallvec = "1.13"
thiserror = "1.0"
uuid = "1.11"

# --- FrogLight Crate ---

[package]
name = "froglight"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dev-dependencies]
bevy = { workspace = true }
hashbrown = { workspace = true }
serde_json = { workspace = true }

[dependencies]
froglight-internal = { version = "0.1.0", path = "crates/froglight-internal" }

[features]
default = ["nightly"]

# Enable optimizations using the nightly compiler
nightly = ["froglight-internal/nightly"]

# Enables using type reflection for entities and registries
reflect = ["froglight-internal/reflect"]
# Enables using type reflection for blocks
# WARNING: This massively increases compile times!
reflect_block = ["froglight-internal/reflect_block"]

# --- Examples ---

[[example]]
name = "reflection"
required-features = ["reflect", "reflect_block"]
