# --- Workspace Settings ---

[workspace]
resolver = "2"
members = [
    "crates/froglight-asset",
    "crates/froglight-block",
    "crates/froglight-common",
    "crates/froglight-entity",
    "crates/froglight-interface",
    "crates/froglight-internal",
    "crates/froglight-macros",
    "crates/froglight-model",
    "crates/froglight-network",
    "crates/froglight-physics",
    "crates/froglight-protocol",
    "crates/froglight-registry",
    "crates/froglight-render",
    "crates/froglight-utils",
    "crates/froglight-world",
]

[workspace.package]
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
authors = ["EightFactorial"]
homepage = "https://github.com/EightFactorial/FrogLight"
repository = "https://github.com/EightFactorial/FrogLight"
readme = "README.md"

[workspace.lints.rust]
missing_docs = "warn"
trivial_casts = "warn"
trivial_numeric_casts = "warn"
unused_lifetimes = "warn"
unused_import_braces = "warn"
unreachable_pub = "warn"

[workspace.lints.rustdoc]
bare_urls = "deny"
broken_intra_doc_links = "deny"
private_intra_doc_links = "deny"
invalid_codeblock_attributes = "deny"
invalid_rust_codeblocks = "deny"
invalid_html_tags = "deny"

[workspace.lints.clippy]
cast_possible_truncation = "warn"
cast_possible_wrap = "warn"
module_name_repetitions = "allow"
needless_pass_by_value = "allow"
pedantic = { level = "warn", priority = -1 }
unnecessary_cast = "warn"

[workspace.dependencies]
async-std = { version = "1.12.0", default-features = false }
bevy = { version = "0.14.0", default-features = false }
bevy_app = "0.14.0"
bevy_core = "0.14.0"
bevy_derive = "0.14.0"
bevy_ecs = "0.14.0"
bevy_hierarchy = "0.14.0"
bevy_input = "0.14.0"
bevy-inspector-egui = { version = "0.25.1", default-features = false }
bevy_log = "0.14.0"
bevy_math = "0.14.0"
bevy_reflect = "0.14.0"
bevy_tasks = "0.14.0"
bevy_time = "0.14.0"
bevy_transform = "0.14.0"
bevy_utils = "0.14.0"
bitvec = "1.0.1"
bytemuck = { version = "1.16.1", features = ["nightly_stdsimd"] }
compact_str = "0.8.0"
criterion = "0.5.1"
derive_more = "0.99.18"
futures-lite = "2.3.0"
glam = { version = "0.27.0", features = ["core-simd"] }
hashbrown = { version = "0.14.5", features = ["default", "nightly"] }
parking_lot = { version = "0.12.3", features = [
    "hardware-lock-elision",
    "nightly",
] }
proptest = "1.5.0"
serde = "1.0.203"
serde_json = "1.0.120"
simdnbt = "0.6.0"
smallvec = "1.13.2"
thiserror = "1.0.63"
uuid = "1.10.0"

[profile.dev.package]
froglight-macros = { opt-level = 3 }
syn = { opt-level = 3 }
quote = { opt-level = 3 }
proc-macro2 = { opt-level = 3 }

[profile.release.package]
froglight-macros = { opt-level = 3 }
syn = { opt-level = 3 }
quote = { opt-level = 3 }
proc-macro2 = { opt-level = 3 }

# --- FrogLight Package ---

[package]
name = "froglight"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[[bin]]
name = "froglight"
path = "src/client/main.rs"
required-features = ["client"]

[lib]
name = "froglight"
path = "src/library/lib.rs"

[dependencies]
bevy = { workspace = true, optional = true }
froglight-internal = { version = "0.1.0", path = "crates/froglight-internal" }

[features]
default = []

# Enables extra crates used by clients
client = ["dep:bevy", "froglight-internal/client"]
