[advisories]
db-path = "~/.cargo/advisory-db"
db-urls = ["https://github.com/rustsec/advisory-db"]
version = 2

[licenses]
allow = [
    "0BSD",
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "BSL-1.0",
    "CC0-1.0",
    "ISC",
    "MIT",
    "Unicode-3.0",
    "Zlib",
]

# [[licenses.exceptions]]
# name = "unicode-ident"
# allow = ["Unicode-DFS-2016"]

[sources]
unknown-git = "deny"
unknown-registry = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]

[bans]
highlight = "all"
wildcards = "deny"
multiple-versions = "warn"
external-default-features = "allow"
workspace-default-features = "allow"

[[bans.skip]]
name = "async-channel"
version = "=1.9.0"
[[bans.skip]]
name = "bitflags"
version = "=1.3.2"
[[bans.skip]]
name = "event-listener"
[[bans.skip]]
name = "fixedbitset"
version = "=0.4.2"
[[bans.skip]]
name = "hashbrown"
version = "=0.14.5"
[[bans.skip]]
name = "regex-automata"
version = "=0.1.10"
[[bans.skip]]
name = "regex-syntax"

[[bans.skip]]
name = "redox_syscall"

[[bans.skip]]
name = "windows-sys"
[[bans.skip]]
name = "windows-targets"
[[bans.skip]]
name = "windows_aarch64_gnullvm"
[[bans.skip]]
name = "windows_aarch64_msvc"
[[bans.skip]]
name = "windows_i686_gnu"
[[bans.skip]]
name = "windows_i686_msvc"
[[bans.skip]]
name = "windows_x86_64_gnu"
[[bans.skip]]
name = "windows_x86_64_gnullvm"
[[bans.skip]]
name = "windows_x86_64_msvc"
