[advisories]
db-path = "~/.cargo/advisory-db"
db-urls = ["https://github.com/rustsec/advisory-db"]
version = 2
ignore = ["RUSTSEC-2023-0071", "RUSTSEC-2024-0436"]

[licenses]
allow = [
  "Apache-2.0",
  "BSD-3-Clause",
  "CC0-1.0",
  "ISC",
  "MIT",
  "MPL-2.0",
  "Unicode-3.0",
  "Zlib",
  # "0BSD",
  # "BSD-2-Clause",
  # "BSL-1.0",
  # "OpenSSL",
]

[[licenses.clarify]]
name = "ring"
expression = "OpenSSL"
license-files = [{ path = "LICENSE", hash = 0xbd0eed23 }]
# [[licenses.exceptions]]
# name = "unicode-ident"
# allow = ["Unicode-DFS-2016"]

[sources]
unknown-git = "deny"
unknown-registry = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]

[bans]
highlight = "all"
wildcards = "deny"
multiple-versions = "warn"
external-default-features = "allow"
workspace-default-features = "allow"

[[bans.skip]]
name = "derive_more"
version = "=1.0.0"
[[bans.skip]]
name = "derive_more-impl"
version = "=1.0.0"
[[bans.skip]]
name = "downcast-rs"
version = "=1.2.1"
[[bans.skip]]
name = "fixedbitset"
version = "=0.4.2"
[[bans.skip]]
name = "hashbrown"
version = "=0.14.5"
[[bans.skip]]
name = "regex-automata"
version = "=0.1.10"
[[bans.skip]]
name = "regex-syntax"
version = "=0.6.29"
[[bans.skip]]
name = "rustls"
version = "=0.21.12"
[[bans.skip]]
name = "rustls-webpki"
version = "=0.101.7"
[[bans.skip]]
name = "thiserror"
version = "=1.0.69"
[[bans.skip]]
name = "thiserror-impl"
version = "=1.0.69"
[[bans.skip]]
name = "zerocopy"
version = "=0.7.35"


[[bans.skip]]
name = "windows-sys"
[[bans.skip]]
name = "windows-targets"
[[bans.skip]]
name = "windows_aarch64_gnullvm"
[[bans.skip]]
name = "windows_aarch64_msvc"
[[bans.skip]]
name = "windows_i686_gnu"
[[bans.skip]]
name = "windows_i686_msvc"
[[bans.skip]]
name = "windows_x86_64_gnu"
[[bans.skip]]
name = "windows_x86_64_gnullvm"
[[bans.skip]]
name = "windows_x86_64_msvc"
