[advisories]
db-path = "~/.cargo/advisory-db"
db-urls = ["https://github.com/rustsec/advisory-db"]
ignore = ["RUSTSEC-2023-0071", "RUSTSEC-2024-0436"]
version = 2

[licenses]
allow = [
  # "0BSD",
  "Apache-2.0",
  # "BSD-2-Clause",
  "BSD-3-Clause",
  # "BSL-1.0",
  # "CC0-1.0",
  "CDLA-Permissive-2.0",
  "ISC",
  "MIT",
  # "MPL-2.0",
  # "OpenSSL",
  "Unicode-3.0",
  "Zlib",
]

[[licenses.clarify]]
expression = "OpenSSL"
license-files = [{ path = "LICENSE", hash = 0xbd0eed23 }]
name = "ring"

# [[licenses.exceptions]]
# name = "unicode-ident"
# allow = ["Unicode-DFS-2016"]

[sources]
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
unknown-git = "deny"
unknown-registry = "deny"

[bans]
external-default-features = "allow"
highlight = "all"
multiple-versions = "warn"
wildcards = "deny"
workspace-default-features = "allow"

[[bans.skip]]
name = "derive_more"
version = "=1.0.0"
[[bans.skip]]
name = "derive_more-impl"
version = "=1.0.0"
[[bans.skip]]
name = "getrandom"
version = "=0.2.16"
[[bans.skip]]
name = "rand"
version = "=0.8.5"
[[bans.skip]]
name = "rand_chacha"
version = "=0.3.1"
[[bans.skip]]
name = "rand_core"
version = "=0.6.4"
[[bans.skip]]
name = "regex-automata"
version = "=0.1.10"
[[bans.skip]]
name = "regex-syntax"
version = "=0.6.29"
[[bans.skip]]
name = "thiserror"
version = "=1.0.69"
[[bans.skip]]
name = "thiserror-impl"
version = "=1.0.69"
[[bans.skip]]
name = "wasi"
version = "=0.11.0"

[[bans.skip]]
name = "windows-sys"
[[bans.skip]]
name = "windows-targets"
[[bans.skip]]
name = "windows_aarch64_gnullvm"
[[bans.skip]]
name = "windows_aarch64_msvc"
[[bans.skip]]
name = "windows_i686_gnu"
[[bans.skip]]
name = "windows_i686_msvc"
[[bans.skip]]
name = "windows_x86_64_gnu"
[[bans.skip]]
name = "windows_x86_64_gnullvm"
[[bans.skip]]
name = "windows_x86_64_msvc"
