[advisories]
db-path = "~/.cargo/advisory-db"
db-urls = ["https://github.com/rustsec/advisory-db"]
version = 2

[licenses]
allow = [
    "MIT",
    "MIT-0",
    "Apache-2.0",
    "BSD-3-Clause",
    "ISC",
    "Zlib",
    "0BSD",
    "BSD-2-Clause",
    "BSL-1.0",
    "CC0-1.0",
    "MPL-2.0",
    #    "OFL-1.1",
    #    "LicenseRef-UFL-1.0",
]

[[licenses.exceptions]]
name = "unicode-ident"
allow = ["Unicode-DFS-2016"]

[sources]
unknown-git = "deny"
unknown-registry = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]

[bans]
highlight = "all"
wildcards = "deny"
multiple-versions = "warn"
external-default-features = "allow"
workspace-default-features = "allow"

[[bans.skip]]
name = "async-channel"
version = "=1.9.0"
[[bans.skip]]
name = "async-io"
version = "=1.13.0"
[[bans.skip]]
name = "async-lock"
version = "=2.8.0"
[[bans.skip]]
name = "bitflags"
version = "=1.3.2"
[[bans.skip]]
name = "event-listener-strategy"
version = "=0.4.0"
[[bans.skip]]
name = "fastrand"
version = "=1.9.0"
[[bans.skip]]
name = "futures-lite"
version = "=1.13.0"
[[bans.skip]]
name = "idna"
version = "=0.2.3"
[[bans.skip]]
name = "idna"
version = "=0.4.0"
[[bans.skip]]
name = "image"
version = "=0.24.9"
[[bans.skip]]
name = "polling"
version = "=2.8.0"
[[bans.skip]]
name = "regex-automata"
version = "=0.1.10"
[[bans.skip]]
name = "regex-syntax"
[[bans.skip]]
name = "socket2"
version = "=0.4.10"
[[bans.skip]]
name = "syn"
version = "=1.0.109"
[[bans.skip]]
name = "toml_edit"
version = "=0.21.1"
[[bans.skip]]
name = "tracing-log"
version = "=0.1.4"

# Other
[[bans.skip]]
name = "event-listener"
[[bans.skip]]
name = "libredox"
[[bans.skip]]
name = "libloading"
[[bans.skip]]
name = "nix"
[[bans.skip]]
name = "ndk"
[[bans.skip]]
name = "ndk-sys"
[[bans.skip]]
name = "objc-sys"
[[bans.skip]]
name = "objc2"
[[bans.skip]]
name = "objc2-encode"
[[bans.skip]]
name = "oboe"
[[bans.skip]]
name = "oboe-sys"
[[bans.skip]]
name = "raw-window-handle"
[[bans.skip]]
name = "rustix"
[[bans.skip]]
name = "redox_syscall"
[[bans.skip]]
name = "winnow"
[[bans.skip]]
name = "winreg"

# Linux
[[bans.skip]]
name = "linux-raw-sys"

# Windows
[[bans.skip]]
name = "windows"
[[bans.skip]]
name = "windows-core"
[[bans.skip]]
name = "windows-sys"
[[bans.skip]]
name = "windows-targets"
[[bans.skip]]
name = "windows_aarch64_gnullvm"
[[bans.skip]]
name = "windows_aarch64_msvc"
[[bans.skip]]
name = "windows_i686_gnu"
[[bans.skip]]
name = "windows_i686_msvc"
[[bans.skip]]
name = "windows_x86_64_gnu"
[[bans.skip]]
name = "windows_x86_64_gnullvm"
[[bans.skip]]
name = "windows_x86_64_msvc"
