[package]
name = "mc-rs-macros"
version = "0.1.0"
edition = "2021"
license = "MIT"
homepage = "https://github.com/EightFactorial/MC-RS"
repository = "https://github.com/EightFactorial/MC-RS"
readme = "README.md"

[lib]
proc-macro = true

[features]
debug = []

[dependencies]
proc-macro2 = "1.0"
quote = "1.0"
syn = "2.0"
