[package]
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
name = "froglight-io"
readme = { workspace = true }
repository = { workspace = true }
version = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dev-dependencies]
proptest = { workspace = true }

[dependencies]
froglight-common = { workspace = true }
froglight-macros = { workspace = true, features = ["io"] }
smol_str = { workspace = true }
thiserror = { workspace = true }
uuid = { workspace = true, features = ["std"] }

# Optional dependencies
bevy_platform = { workspace = true, optional = true, features = ["alloc"] }
glam = { workspace = true, optional = true, features = ["std"] }
hashbrown = { version = "0.15", optional = true, features = ["default"] }
serde = { workspace = true, optional = true, features = ["std"] }
serde_json = { workspace = true, optional = true, features = ["std"] }
smallvec = { workspace = true, optional = true }
tracing = { workspace = true, optional = true, features = ["std"] }

[features]
default = ["glam"]

# Enable support for `bevy_platform` types.
bevy_platform = ["dep:bevy_platform"]
# Enable support for `glam` types.
glam = ["dep:glam"]
# Enable support for `hashbrown` types.
hashbrown = ["dep:hashbrown"]
# Enable support for `smallvec` types.
smallvec = ["dep:smallvec"]

# Enable support for serializing to/from JSON.
serde = [
  "dep:serde",
  "dep:serde_json",
  "glam?/serde",
  "hashbrown?/serde",
  "smallvec?/serde",
  "smol_str/serde",
  "uuid/serde",
]

# Enable nightly features.
nightly = ["hashbrown?/nightly"]
# Enable trace logs.
trace = ["dep:tracing", "froglight-macros/io-trace"]
