[package]
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
name = "froglight-block"
readme = { workspace = true }
repository = { workspace = true }
version = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dependencies]
downcast-rs = { workspace = true }
froglight-common = { workspace = true }
froglight-macros = { workspace = true, features = ["block"] }
hashbrown = { workspace = true }
hashify = { workspace = true }
parking_lot = { workspace = true }
rangemap = { workspace = true }

# Optional dependencies
bevy_ecs = { workspace = true, optional = true }
bevy_reflect = { workspace = true, optional = true }
bevy_utils = { workspace = true, optional = true }

[features]
default = []

# Enable `bevy` support.
bevy = ["dep:bevy_ecs", "dep:bevy_utils", "froglight-common/bevy"]
# Enable `bevy_reflect` support.
reflect = ["bevy_ecs?/bevy_reflect", "dep:bevy_reflect"]

# Enable support for v1.21.4
v1_21_4 = ["froglight-common/v1_21_4"]
# Enable support for v1.21.5
v1_21_5 = ["froglight-common/v1_21_5"]
