[package]
name = "froglight-interface"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dependencies]
bevy_app = { workspace = true }
bevy_asset = { workspace = true }
bevy_audio = { workspace = true }
bevy_derive = { workspace = true }
bevy_ecs = { workspace = true }
bevy_gizmos = { workspace = true }
bevy_hierarchy = { workspace = true }
bevy_input = { workspace = true }
bevy_log = { workspace = true }
bevy_render = { workspace = true }
bevy_sprite = { workspace = true }
bevy_text = { workspace = true }
bevy_ui = { workspace = true }
bevy_window = { workspace = true }
froglight-assets = { version = "0.1.0", path = "../froglight-assets" }
froglight-core = { version = "0.1.0", path = "../froglight-core" }
froglight-entity = { version = "0.1.0", path = "../froglight-entity" }
froglight-network = { version = "0.1.0", path = "../froglight-network" }
froglight-render = { version = "0.1.0", path = "../froglight-render" }
froglight-settings = { version = "0.1.0", path = "../froglight-settings" }
froglight-utils = { version = "0.1.0", path = "../froglight-utils" }
