[package]
name = "froglight-interface"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dependencies]
bevy = { workspace = true }
bevy-inspector-egui = "0.23.2"
froglight-assets = { version = "0.1.0", path = "../froglight-assets", features = [
    "inspector",
] }
froglight-core = { version = "0.1.0", path = "../froglight-core" }
froglight-entities = { version = "0.1.0", path = "../froglight-entities" }
froglight-render = { version = "0.1.0", path = "../froglight-render" }
froglight-world = { version = "0.1.0", path = "../froglight-world" }

[features]
default = []
