[package]
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
name = "froglight-inventory"
readme = { workspace = true }
repository = { workspace = true }
version = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dev-dependencies]
paste = "1.0"

[dependencies]
bevy_platform = { workspace = true, features = ["alloc"] }
derive_more = { workspace = true }
froglight-common = { workspace = true }
froglight-item = { workspace = true }
froglight-nbt = { workspace = true }
indexmap = { workspace = true }
parking_lot = { workspace = true }

# Optional dependencies
bevy_ecs = { workspace = true, optional = true }
bevy_reflect = { workspace = true, optional = true }
crc32fast = { workspace = true, optional = true }
froglight-io = { workspace = true, optional = true }
froglight-world = { workspace = true, optional = true, features = ["nbt"] }

[features]
default = ["std"]

# Enable `froglight-io` support.
io = ["dep:crc32fast", "dep:froglight-io", "froglight-nbt/io", "std"]
# Enable `froglight-world` support.
world = ["dep:froglight-world"]

# Enable `bevy` support.
bevy = ["dep:bevy_ecs", "froglight-common/bevy", "froglight-item/bevy"]
# Enable `bevy_reflect` support.
reflect = ["dep:bevy_reflect", "froglight-item/reflect"]

# Enable support for the rust standard library.
std = ["bevy_platform/std", "bevy_reflect?/std", "froglight-nbt/std", "froglight-world?/std"]

# Enable support for v1.21.4
v1_21_4 = ["froglight-common/v1_21_4", "froglight-item/v1_21_4", "froglight-world?/v1_21_4"]
# Enable support for v1.21.5
v1_21_5 = ["froglight-common/v1_21_5", "froglight-item/v1_21_5", "froglight-world?/v1_21_5"]
