[package]
name = "froglight-render"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }


[lints]
workspace = true

[dependencies]
bevy = { workspace = true }
froglight-entities = { version = "0.1.0", path = "../froglight-entities" }
froglight-world = { version = "0.1.0", path = "../froglight-world" }
froglight-resourcepack = { version = "0.1.0", path = "../froglight-resourcepack" }
froglight-settings = { version = "0.1.0", path = "../froglight-settings" }
