[package]
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
name = "froglight-common"
readme = { workspace = true }
repository = { workspace = true }
version = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dependencies]
derive_more = { workspace = true }
froglight-macros = { features = ["common"], workspace = true }
smol_str = { workspace = true }
uuid = { workspace = true }

# Optional dependencies
bevy_ecs = { optional = true, workspace = true }
bevy_reflect = { features = ["smol_str", "uuid"], optional = true, workspace = true }
serde = { features = ["derive"], optional = true, workspace = true }

[features]
default = ["alloc"]

# Enable `bevy` support.
bevy = ["dep:bevy_ecs"]
# Enable `bevy_reflect` support.
reflect = ["bevy_ecs?/bevy_reflect", "dep:bevy_reflect"]

# Enable `serde` serialization support.
serde = ["dep:serde", "smol_str/serde", "uuid/serde"]

# Enable support for the rust allocator library.
alloc = []

# Enable support for v1.21.4
v1_21_4 = []
# Enable support for v1.21.5
v1_21_5 = []
