[package]
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
name = "froglight-common"
readme = { workspace = true }
repository = { workspace = true }
version = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dependencies]
derive_more = { workspace = true }
froglight-macros = { workspace = true, features = ["common"] }
smol_str = { workspace = true }
uuid = { workspace = true }

# Optional dependencies
bevy_ecs = { workspace = true, optional = true, features = ["bevy_reflect"] }
bevy_reflect = { workspace = true, optional = true, features = ["smol_str", "uuid"] }
serde = { workspace = true, optional = true, features = ["derive"] }

[features]
default = ["alloc"]

# Enable `bevy` support.
bevy = ["dep:bevy_ecs", "dep:bevy_reflect"]
# Enable `serde` support.
serde = ["dep:serde", "smol_str/serde", "uuid/serde"]

# Enable support for the rust allocator library.
alloc = []

# Enable support for v1.21.4
v1_21_4 = []
# Enable support for v1.21.5
v1_21_5 = []
