[package]
name = "froglight-network"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dependencies]
async-io = { workspace = true }
async-net = { workspace = true }
froglight-common = { workspace = true, features = ["serde"] }
froglight-io = { workspace = true, features = ["hashbrown", "serde"] }
froglight-macros = { workspace = true, features = ["network"] }
froglight-nbt = { workspace = true, features = ["io", "serde"] }
futures-lite = { workspace = true }
glam = { workspace = true }
hashbrown = { workspace = true }
serde = { workspace = true }
smallvec = { workspace = true, features = ["write"] }
smol_str = { workspace = true }
uuid = { workspace = true }

# Optional dependencies
bevy_ecs = { workspace = true, optional = true }
bevy_log = { workspace = true, optional = true }
bevy_tasks = { workspace = true, optional = true, features = ["async-io"] }
hickory-resolver = { version = "0.24", optional = true, default-features = false, features = [
  "system-config",
  "rustls",
] }

[features]
default = ["resolver"]

# Enable support for Bevy.
bevy = [
  "dep:bevy_ecs",
  "dep:bevy_log",
  "dep:bevy_tasks",
  "froglight-common/bevy",
]
# Enable server address and port lookup.
resolver = ["dep:hickory-resolver"]

# Enable support for v1.21.4
v1_21_4 = ["froglight-common/v1_21_4"]
# Enable support for v1.21.5
v1_21_5 = ["froglight-common/v1_21_5"]
