[package]
name = "froglight-network"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dependencies]
async-channel = "2.2.1"
async-compression = { version = "0.4.8", default-features = false, features = [
    "flate2",
    "futures-io",
    "zlib",
] }
async-std = { version = "1.12.0", features = ["unstable", "std"] }
bevy_app = { workspace = true }
bevy_derive = { workspace = true }
bevy_ecs = { workspace = true }
bevy_log = { workspace = true }
bevy_math = { workspace = true }
bevy_reflect = { workspace = true }
bevy_tasks = { workspace = true, features = ["multi-threaded"] }
bevy_time = { workspace = true }
bevy_transform = { workspace = true }
compact_str = { workspace = true }
froglight-core = { version = "0.1.0", path = "../froglight-core" }
froglight-protocol = { version = "0.1.0", path = "../froglight-protocol" }
froglight-registry = { version = "0.1.0", path = "../froglight-registry" }
hashbrown = { workspace = true }
md-5 = "0.10.6"
parking_lot = { workspace = true }
thiserror = { workspace = true }
uuid = { workspace = true, features = ["v3"] }

# Optional dependencies used by the ResolverPlugin
async-std-resolver = { version = "0.24.1", optional = true }
tldextract = { version = "0.6.0", optional = true }

[features]
default = ["resolver"]

# Enables the ResolverPlugin
resolver = ["async-std-resolver", "tldextract"]
