[package]
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
name = "froglight-network"
readme = { workspace = true }
repository = { workspace = true }
version = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dev-dependencies]
froglight-text = { features = ["ansi"], workspace = true }
smol_str = { workspace = true }
tracing-subscriber = { features = ["env-filter"], workspace = true }

[dependencies]
async-trait = "0.1"
bevy_platform = { features = ["alloc"], workspace = true }
derive_more = { workspace = true }
froglight-common = { workspace = true }
froglight-macros = { features = ["network"], workspace = true }
froglight-packet = { features = ["inventory"], workspace = true }
futures-lite = { features = ["alloc"], workspace = true }
smol_str = { workspace = true }
thiserror = { workspace = true }

# Optional dependencies
aes = { optional = true, workspace = true }
async-compression = { features = ["futures-io", "zlib"], optional = true, workspace = true }
async-net = { optional = true, workspace = true }
bevy_ecs = { optional = true, workspace = true }
bevy_tasks = { optional = true, workspace = true }
cfb8 = { optional = true, workspace = true }
froglight-io = { optional = true, workspace = true }
froglight-resolver = { optional = true, workspace = true }
tracing = { optional = true, workspace = true }

[features]
default = ["crypto", "io", "resolver", "std"]

# Enable `froglight-brigadier` support.
brigadier = ["bevy", "froglight-packet/brigadier"]
# Enable `froglight-resolver` support.
resolver = ["dep:froglight-resolver", "std"]
# Enable support for encrypted connections.
crypto = ["dep:aes", "dep:cfb8", "io"]

# Enable `froglight-io` support.
io = ["dep:froglight-io", "froglight-packet/io", "std"]

# Enable `bevy` support.
bevy = ["dep:bevy_ecs", "dep:bevy_tasks", "froglight-resolver?/bevy"]

# Enable support for the rust standard library.
std = [
  "bevy_ecs?/std",
  "bevy_tasks?/std",
  "dep:async-compression",
  "dep:async-net",
  "froglight-packet/std",
  "futures-lite/std",
  "tracing?/std",
]
# Enable `no_std` support for `glam`.
libm = ["froglight-packet/libm"]

# Enable nightly features.
nightly = ["froglight-io?/nightly", "froglight-packet/nightly", "froglight-resolver?/nightly"]
# Enable trace logs.
trace = ["dep:tracing", "froglight-io?/trace", "froglight-packet/trace", "froglight-resolver?/trace"]

# Enable support for v1.21.4
v1_21_4 = ["froglight-common/v1_21_4", "froglight-packet/v1_21_4"]
# Enable support for v1.21.5
v1_21_5 = ["froglight-common/v1_21_5", "froglight-packet/v1_21_5"]

# --- Examples ---

[[example]]
name = "status"
required-features = ["io", "resolver", "v1_21_4"]
