[package]
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
name = "froglight-network"
readme = { workspace = true }
repository = { workspace = true }
version = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dependencies]
async-trait = "0.1"
bevy_platform = { workspace = true, features = ["alloc"] }
derive_more = { workspace = true }
froglight-common = { workspace = true }
froglight-macros = { workspace = true, features = ["network"] }
froglight-packet = { workspace = true }
futures-lite = { workspace = true, features = ["alloc"] }
thiserror = { workspace = true }

# Optional dependencies
async-compression = { workspace = true, optional = true, features = ["futures-io", "zlib"] }
async-net = { workspace = true, optional = true }
bevy_ecs = { workspace = true, optional = true }
bevy_reflect = { workspace = true, optional = true }
bevy_tasks = { workspace = true, optional = true }
froglight-io = { workspace = true, optional = true }
froglight-resolver = { workspace = true, optional = true }

[features]
default = ["inventory", "io", "resolver", "std"]

# Enable `froglight-brigadier` support.
brigadier = ["bevy", "froglight-packet/brigadier"]
# Enable `froglight-inventory` support.
inventory = ["froglight-packet/inventory"]
# Enable `froglight-resolver` support.
resolver = ["dep:froglight-resolver", "std"]

# Enable `froglight-io` support.
io = ["dep:froglight-io", "froglight-packet/io", "std"]

# Enable `bevy` support.
bevy = ["dep:bevy_ecs", "dep:bevy_reflect", "dep:bevy_tasks", "froglight-resolver?/bevy"]

# Enable support for the rust standard library.
std = [
  "bevy_ecs?/std",
  "bevy_reflect?/std",
  "bevy_tasks?/std",
  "dep:async-compression",
  "dep:async-net",
  "froglight-packet/std",
  "futures-lite/std",
]
# Enable `no_std` support for `glam`.
libm = ["froglight-packet/libm"]

# Enable support for v1.21.4
v1_21_4 = ["froglight-common/v1_21_4", "froglight-packet/v1_21_4"]
# Enable support for v1.21.5
v1_21_5 = ["froglight-common/v1_21_5", "froglight-packet/v1_21_5"]

# --- Examples ---

# [[example]]
# name = "status"
# required-features = ["bevy", "io", "resolver", "v1_21_4"]
