[package]
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
name = "froglight-network"
readme = { workspace = true }
repository = { workspace = true }
version = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dependencies]
async-compression = { workspace = true, features = ["futures-io", "zlib"] }
async-io = { workspace = true }
async-net = { workspace = true }
blocking = { workspace = true }
derive_more = { workspace = true }
froglight-common = { workspace = true, features = ["serde"] }
froglight-entity = { workspace = true, features = ["io"] }
froglight-io = { workspace = true, features = ["glam", "serde", "smallvec", "uuid"] }
froglight-macros = { workspace = true, features = ["io", "network"] }
froglight-text = { workspace = true, features = ["io", "serde"] }
futures-lite = { workspace = true, features = ["std"] }
glam = { workspace = true, features = ["std"] }
hashbrown = { workspace = true, features = ["serde"] }
serde = { workspace = true, features = ["derive", "std"] }
serde_json = { workspace = true, features = ["std"] }
smallvec = { workspace = true }
smol_str = { workspace = true, features = ["std"] }
ureq = { workspace = true }
uuid = { workspace = true, features = ["std"] }

# Optional dependencies
bevy_ecs = { workspace = true, optional = true }
bevy_log = { workspace = true, optional = true }
bevy_platform = { workspace = true, optional = true, features = ["alloc", "serialize"] }
bevy_reflect = { workspace = true, optional = true, features = ["glam", "smallvec", "smol_str", "uuid"] }
bevy_tasks = { workspace = true, optional = true, features = ["async-io"] }
froglight-brigadier = { workspace = true, optional = true, features = ["glam", "io", "uuid"] }
froglight-inventory = { workspace = true, optional = true, features = ["io"] }
froglight-nbt = { workspace = true, optional = true, features = ["io"] }
hickory-resolver = { version = "0.25", optional = true, default-features = false, features = ["system-config"] }

[features]
default = ["inventory", "nbt", "resolver"]

# Enable server address and port lookup.
resolver = ["dep:hickory-resolver"]

# Enable `froglight-brigadier` support.
brigadier = ["bevy", "dep:froglight-brigadier"]
# Enable `froglight-inventory` support.
inventory = ["dep:froglight-inventory", "nbt"]
# Enable `froglight-nbt` support.
nbt = ["dep:froglight-nbt", "froglight-brigadier?/nbt"]

# Enable `bevy` support.
bevy = [
  "dep:bevy_ecs",
  "dep:bevy_log",
  "dep:bevy_platform",
  "dep:bevy_reflect",
  "dep:bevy_tasks",
  "froglight-common/bevy",
  "froglight-inventory?/bevy",
  "froglight-io/bevy_platform",
  "froglight-nbt?/reflect",
  "froglight-text/bevy",
]

# Enable support for v1.21.4
v1_21_4 = ["froglight-common/v1_21_4"]
# Enable support for v1.21.5
v1_21_5 = ["froglight-common/v1_21_5"]

# --- Examples ---

[[example]]
name = "status"
required-features = ["bevy", "resolver", "v1_21_4"]
