[package]
name = "froglight-utils"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dependencies]
bevy_app = { workspace = true }
bevy_derive = { workspace = true }
bevy_ecs = { workspace = true }
bevy_log = { workspace = true }
bevy_time = { workspace = true }
froglight-core = { version = "0.1.0", path = "../froglight-core" }
froglight-entity = { version = "0.1.0", path = "../froglight-entity", optional = true }
froglight-protocol = { version = "0.1.0", path = "../froglight-protocol", optional = true }
froglight-world = { version = "0.1.0", path = "../froglight-world", features = [
    "bevy",
], optional = true }
futures-lite = { workspace = true }
hashbrown = { workspace = true }
parking_lot = { workspace = true }

[default]
features = ["froglight-entity", "froglight-world"]

# Enables tracking of which entities are in which chunks
froglight-entity = ["dep:froglight_entity", "froglight-world"]

# Enables tracking of what positions chunks are at
froglight-world = ["dep:froglight_world", "dep:froglight-protocol"]
