[package]
name = "froglight-utils"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dependencies]
bevy_app = { workspace = true }
bevy_derive = { workspace = true }
bevy_ecs = { workspace = true }
bevy_reflect = { workspace = true }
bevy_time = { workspace = true }
froglight-components = { version = "0.1.0", path = "../froglight-components", optional = true, features = [
    "bevy",
] }
froglight-network = { version = "0.1.0", path = "../froglight-network", optional = true, features = [
    "bevy",
] }
froglight-protocol = { version = "0.1.0", path = "../froglight-protocol", optional = true, features = [
    "bevy",
] }
froglight-world = { version = "0.1.0", path = "../froglight-world", optional = true, features = [
    "bevy",
] }

# Optional dependencies
hashbrown = { workspace = true, optional = true }

[features]
default = [
    "froglight-components",
    "froglight-network",
    "froglight-world",
    "hashbrown",
]

# Enables tracking of entity ids and uuids
froglight-components = ["dep:froglight-components"]

# Schedules PreUpdate systems to run after network systems'
froglight-network = ["dep:froglight-network", "dep:froglight-protocol"]

# Enables tracking of what positions chunks are at
froglight-world = ["dep:froglight-world", "dep:froglight-protocol"]

# Use `hashbrown` for better performance
hashbrown = [
    "dep:hashbrown",
    "froglight-components/hashbrown",
    "froglight-protocol/hashbrown",
]
