[package]
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
name = "froglight-player"
readme = { workspace = true }
repository = { workspace = true }
version = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dependencies]
aes = { workspace = true }
base64 = { workspace = true }
cfb8 = { workspace = true }
derive_more = { workspace = true }
froglight-common = { workspace = true }
froglight-nbt = { workspace = true }
hashbrown = { workspace = true }
md-5 = { workspace = true }
parking_lot = { workspace = true }
rsa = { workspace = true, features = ["sha2"] }
smol_str = { workspace = true }
thiserror = { workspace = true }
uuid = { workspace = true, features = ["md5"] }

# Optional dependencies
bevy_ecs = { workspace = true, optional = true }
bevy_log = { workspace = true, optional = true }
bevy_platform = { workspace = true, optional = true }
bevy_reflect = { workspace = true, optional = true, features = ["smol_str", "uuid"] }
froglight-io = { workspace = true, optional = true }
nu-ansi-term = { workspace = true, optional = true }
serde = { workspace = true, optional = true, features = ["derive"] }
serde_json = { workspace = true, optional = true }
ureq = { workspace = true, optional = true, features = ["json"] }

[features]
default = ["ansi", "online", "serde"]

# Enable ANSI terminal support.
ansi = ["dep:nu-ansi-term"]
# Enable accessing online APIs.
online = ["dep:ureq", "serde"]

# Enable `froglight-io` support.
io = ["dep:froglight-io"]

# Enable `bevy` support.
bevy = [
  "dep:bevy_ecs",
  "dep:bevy_log",
  "dep:bevy_platform",
  "dep:bevy_reflect",
  "froglight-common/bevy",
  "froglight-nbt/bevy",
]
# Enable `serde` support.
serde = [
  "bevy_platform?/serialize",
  "dep:serde",
  "dep:serde_json",
  "froglight-common/serde",
  "froglight-io?/serde",
  "froglight-nbt/serde",
  "hashbrown/serde",
  "rsa/serde",
  "smol_str/serde",
  "uuid/serde",
]
