[package]
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
name = "froglight-brigadier"
readme = { workspace = true }
repository = { workspace = true }
version = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dev-dependencies]
bevy = { workspace = true, features = ["bevy_log", "reflect_functions"] }
froglight-entity = { workspace = true, features = ["bevy"] }
proptest = { workspace = true }
toml_edit = { workspace = true, features = ["parse", "serde"] }

[dependencies]
bevy_app = { workspace = true, features = ["reflect_functions"] }
bevy_ecs = { workspace = true, features = ["reflect_functions"] }
bevy_platform = { workspace = true, features = ["alloc"] }
bevy_reflect = { workspace = true, features = ["functions", "smol_str"] }
derive_more = { workspace = true }
froglight-common = { workspace = true, features = ["bevy"] }
parking_lot = { workspace = true }
petgraph = { version = "0.8", default-features = false, features = ["stable_graph"] }
smol_str = { workspace = true }
thiserror = { workspace = true }

# Optional dependencies
bevy_log = { workspace = true, optional = true }
froglight-io = { workspace = true, optional = true }
froglight-nbt = { workspace = true, optional = true, features = ["reflect"] }
glam = { workspace = true, optional = true }
serde = { workspace = true, optional = true, features = ["derive"] }
tracing = { workspace = true, optional = true }
uuid = { workspace = true, optional = true, features = ["serde"] }

[features]
default = ["glam", "nbt", "std", "uuid"]

# Enable `froglight-io` support.
io = ["dep:froglight-io", "std"]

# Enable `glam` support.
glam = ["bevy_reflect/glam", "dep:glam"]
# Enable `no_std` support for `glam`.
libm = ["glam?/libm"]

# Enable `froglight-nbt` support.
nbt = ["dep:froglight-nbt"]
# Enable `uuid` support.
uuid = ["bevy_reflect/uuid", "dep:uuid"]

# Enable `serde` serialization support.
serde = ["bevy_platform/serialize", "dep:serde", "glam?/serde", "petgraph/serde-1", "smol_str/serde", "uuid?/serde"]

# Enable nightly features.
nightly = ["froglight-io?/nightly", "froglight-nbt?/nightly", "parking_lot/nightly"]

# Enable support for the rust standard library.
std = [
  "bevy_app/std",
  "bevy_ecs/std",
  "bevy_platform/std",
  "bevy_reflect/std",
  "dep:bevy_log",
  "dep:tracing",
  "froglight-nbt/std",
  "glam?/std",
  "petgraph/std",
  "serde?/std",
  "uuid?/std",
]

# --- Examples ---

[[example]]
name = "admin"
required-features = ["serde", "std"]
