[package]
name = "froglight-brigadier"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dev-dependencies]
bevy = { workspace = true }
proptest = { workspace = true }

[dependencies]
bevy_app = { workspace = true, features = ["reflect_functions"] }
bevy_core = { workspace = true, features = ["bevy_reflect"] }
bevy_ecs = { workspace = true, features = ["reflect_functions"] }
bevy_log = { workspace = true }
bevy_reflect = { workspace = true, features = ["functions"] }
derive_more = { workspace = true }
froglight-common = { workspace = true, features = ["bevy"] }
hashbrown = { workspace = true }
parking_lot = { workspace = true }
petgraph = { workspace = true }
smol_str = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }

# Optional dependencies
froglight-nbt = { workspace = true, optional = true, features = ["bevy"] }
glam = { workspace = true, optional = true }
serde = { workspace = true, optional = true }
uuid = { workspace = true, optional = true }

[features]
default = ["nbt", "glam", "uuid"]

# Enable support for `froglight-nbt` types.
nbt = ["dep:froglight-nbt"]
# Enable support for `glam` types.
glam = ["dep:glam"]
# Enable support for `uuid` types.
uuid = ["dep:uuid"]

# Enable support for serializing to/from text formats.
serde = ["dep:serde", "glam?/serde", "smol_str/serde", "uuid?/serde"]
