[package]
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
name = "froglight-item"
readme = { workspace = true }
repository = { workspace = true }
version = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dependencies]
bevy_platform = { workspace = true, features = ["alloc"] }
downcast-rs = { workspace = true }
froglight-common = { workspace = true }
froglight-macros = { workspace = true, features = ["item"] }
froglight-nbt = { workspace = true }
hashify = { workspace = true }
indexmap = { workspace = true }
parking_lot = { workspace = true }

# Optional dependencies
bevy_ecs = { workspace = true, optional = true }
bevy_reflect = { workspace = true, optional = true }
froglight-block = { workspace = true, optional = true }

[features]
default = []

# Enable `froglight-block` support.
block = ["dep:froglight-block"]

# Enable `bevy` support.
bevy = ["dep:bevy_ecs", "froglight-block?/bevy", "froglight-common/bevy"]
# Enable `bevy_reflect` support.
reflect = ["bevy", "bevy_ecs?/bevy_reflect", "dep:bevy_reflect", "froglight-block?/reflect", "froglight-nbt/reflect"]

# Enable nightly features.
nightly = ["froglight-block?/nightly", "froglight-nbt/nightly", "parking_lot/nightly"]

# Enable support for v1.21.4
v1_21_4 = ["froglight-common/v1_21_4"]
# Enable support for v1.21.5
v1_21_5 = ["froglight-common/v1_21_5"]
