[package]
name = "froglight-client"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dependencies]
bevy = { workspace = true, default-features = true, features = ["wayland"] }
froglight-assets = { version = "0.1.0", path = "../froglight-assets" }
froglight-entity = { version = "0.1.0", path = "../froglight-entity" }
froglight-events = { version = "0.1.0", path = "../froglight-events" }
froglight-network = { version = "0.1.0", path = "../froglight-network", features = [
    "resolver",
] }
froglight-registry = { version = "0.1.0", path = "../froglight-registry" }
froglight-render = { version = "0.1.0", path = "../froglight-render" }
froglight-utils = { version = "0.1.0", path = "../froglight-utils" }
froglight-world = { version = "0.1.0", path = "../froglight-world", features = [
    "bevy",
] }
