[package]
name = "froglight-client"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dev-dependencies]
# Needed for the system graph example
# bevy_mod_debugdump = "0.9.0"

[dependencies]
bevy = { workspace = true }
froglight-assets = { version = "0.1.0", path = "../froglight-assets" }
froglight-core = { version = "0.1.0", path = "../froglight-core" }
froglight-entities = { version = "0.1.0", path = "../froglight-entities" }
froglight-interface = { version = "0.1.0", path = "../froglight-interface" }
froglight-network = { version = "0.1.0", path = "../froglight-network" }
froglight-physics = { version = "0.1.0", path = "../froglight-physics" }
froglight-render = { version = "0.1.0", path = "../froglight-render" }
froglight-world = { version = "0.1.0", path = "../froglight-world" }

[features]
default = []

# Creates system graphs, not an example
# Useful for development
# [[example]]
# name = "system-graph"
