[package]
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
include = { workspace = true }
license = { workspace = true }
name = "froglight_macros"
readme = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }
version = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--generate-link-to-definition", "-Zunstable-options"]

[lib]
proc-macro = true

[lints]
workspace = true

[dependencies]
proc-macro2 = { features = ["proc-macro"], workspace = true }
quote = { features = ["proc-macro"], workspace = true }
syn = { features = ["extra-traits", "parsing", "printing"], workspace = true }
