[package]
name = "froglight-protocol"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dev-dependencies]
froglight-macros = { version = "0.1.0", path = "../froglight-macros", features = [
    "froglight-protocol-debug",
] }
proptest = { workspace = true }

[dependencies]
bevy_ecs = { workspace = true, optional = true }
bevy_reflect = { workspace = true, optional = true }
bitvec = { workspace = true }
bytemuck = { workspace = true, features = ["nightly_stdsimd"] }
compact_str = { workspace = true, features = ["serde", "smallvec"] }
derive_more = { workspace = true }
froglight-components = { version = "0.1.0", path = "../froglight-components", features = [
    "serde",
] }
froglight-macros = { version = "0.1.0", path = "../froglight-macros", features = [
    "froglight-protocol",
] }
glam = { version = "0.25.0", features = ["bytemuck"] }
hashbrown = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true, features = ["preserve_order"] }
simdnbt = { workspace = true }
smallvec = { workspace = true, features = [
    "const_generics",
    "const_new",
    "serde",
    "write",
] }
thiserror = { workspace = true }
uuid = { workspace = true, features = ["serde"] }

[features]
default = ["bevy"]

# Derives `Component` for some types.
bevy = ["dep:bevy_ecs", "dep:bevy_reflect", "froglight-components/bevy"]

# TODO: Remove this once V1.20.2/.3 packets are no longer in use
reflect = ["bevy"]
