[package]
name = "froglight-protocol"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dev-dependencies]
compact_str = { workspace = true, features = ["proptest"] }
froglight-macros = { version = "0.1.0", path = "../froglight-macros", features = [
    "froglight-protocol-debug",
] }
proptest = { workspace = true }

[dependencies]
bitvec = { workspace = true }
bytemuck = { workspace = true, features = [
    "min_const_generics",
    "must_cast",
    "nightly_stdsimd",
] }
compact_str = { workspace = true, features = ["serde"] }
derive_more = { workspace = true }
froglight-components = { version = "0.1.0", path = "../froglight-components", features = [
    "serde",
] }
froglight-macros = { version = "0.1.0", path = "../froglight-macros", features = [
    "froglight-protocol",
] }
glam = { workspace = true, features = ["bytemuck"] }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true, features = ["preserve_order"] }
simdnbt = { workspace = true }
thiserror = { workspace = true }
uuid = { workspace = true, features = ["serde"] }

# Optional bevy dependencies
bevy_ecs = { workspace = true, optional = true }
bevy_reflect = { workspace = true, optional = true }
bevy_log = { workspace = true, optional = true }

# Optional dependencies
hashbrown = { workspace = true, optional = true }
smallvec = { workspace = true, optional = true, features = [
    "const_generics",
    "const_new",
    "serde",
    "write",
] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
bytemuck = { workspace = true, features = ["wasm_simd"] }

[target.'cfg(target_arch = "aarch64")'.dependencies]
bytemuck = { workspace = true, features = ["aarch64_simd"] }

[features]
default = ["bevy", "hashbrown", "smallvec"]

# Derives `Component`, `Resource`, and `Reflect` for some types
bevy = [
    "dep:bevy_ecs",
    "dep:bevy_reflect",
    "dep:bevy_log",
    "hashbrown",
    "froglight-components/bevy",
]

# Use `hashbrown` for better performance
hashbrown = ["dep:hashbrown", "froglight-components/hashbrown"]

# Use `smallvec` for better performance
smallvec = ["dep:smallvec", "compact_str/smallvec"]
