[package]
name = "froglight-protocol"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dev-dependencies]
froglight-macros = { version = "0.1.0", path = "../froglight-macros", features = [
    "froglight-protocol-debug",
] }
proptest = { workspace = true }

[dependencies]
bevy_derive = { workspace = true }
bitvec = { workspace = true }
bytemuck = { workspace = true, features = ["derive", "nightly_stdsimd"] }
compact_str = { workspace = true, features = ["serde", "smallvec"] }
derive_more = { workspace = true }
froglight-macros = { version = "0.1.0", path = "../froglight-macros", features = [
    "froglight-protocol",
] }
glam = { version = "0.27.0", features = ["bytemuck"] }
hashbrown = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
simdnbt = { workspace = true }
smallvec = { workspace = true, features = [
    "const_generics",
    "const_new",
    "serde",
    "write",
] }
thiserror = { workspace = true }
uuid = { workspace = true, features = ["serde"] }
