# To use these settings, keep it in the ".cargo" folder and rename it to "config.toml"

# If you don't have the Mold linker installed, remove both the 
# "linker = ..." argument and the "-Clink-arg=-fuse-ld=..." flag
#
# If using rust stable, remove the "-Zshare-generics=y" flag
#
# You may have to update Rust to the latest nightly to support the "-Zthreads" flag

[target.x86_64-unknown-linux-gnu]
linker = "clang"
rustflags = [
    "-Clink-arg=-fuse-ld=/usr/bin/mold",
    "-Ctarget-cpu=native",
    "-Zshare-generics=y",
    "-Zthreads=0",
]

# NOTE: You must install [Mach-O LLD Port](https://lld.llvm.org/MachO/index.html) on MacOS.
[target.x86_64-apple-darwin]
rustflags = [
    "-Clink-arg=-fuse-ld=/usr/local/opt/llvm/bin/ld64.lld",
    "-Ctarget-cpu=native",
    "-Zshare-generics=y",
    "-Zthreads=0",
]

[target.aarch64-apple-darwin]
rustflags = [
    "-Clink-arg=-fuse-ld=/opt/homebrew/opt/llvm/bin/ld64.lld",
    "-Ctarget-cpu=native",
    "-Zshare-generics=y",
    "-Zthreads=0",
]

[target.x86_64-pc-windows-msvc]
linker = "rust-lld.exe"
rustflags = ["-Zshare-generics=n", "-Ctarget-cpu=native", "-Zthreads=0"]
