[package]
authors = { workspace = true }
edition = { workspace = true }
exclude = ["/test"]
homepage = { workspace = true }
license = { workspace = true }
name = "froglight-nbt"
readme = { workspace = true }
repository = { workspace = true }
version = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dev-dependencies]
flate2 = { workspace = true }
proptest = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter"] }

[dependencies]
derive_more = { workspace = true }
froglight-macros = { workspace = true, features = ["nbt"] }
indexmap = { workspace = true }
regex = { workspace = true }
simd_cesu8 = { workspace = true }
smol_str = { workspace = true }
thiserror = { workspace = true }

# Optional dependencies
bevy_reflect = { workspace = true, optional = true, features = ["smol_str"] }
froglight-io = { workspace = true, optional = true }
serde = { workspace = true, optional = true, features = ["derive"] }
tracing = { workspace = true, optional = true }

[features]
default = []

# Enable `bevy` support.
bevy = ["dep:bevy_reflect"]
# Enable `froglight-io` support.
io = ["dep:froglight-io"]
# Enable `serde` support.
serde = ["dep:serde", "indexmap/serde", "smol_str/serde"]

# Enable debug logging.
debug = ["dep:tracing"]
