[package]
name = "froglight-nbt"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }
exclude = ["/test"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dev-dependencies]
flate2 = "1.0"
proptest = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter"] }

[dependencies]
derive_more = { workspace = true }
froglight-macros = { workspace = true, features = ["nbt"] }
indexmap = { workspace = true }
simd_cesu8 = "1.0"
thiserror = { workspace = true }

# Optional dependencies
froglight-io = { workspace = true, optional = true }
serde = { workspace = true, optional = true, features = ["derive"] }
tracing-log = { workspace = true, optional = true }

[features]
default = ["io"]

# Enable support for `froglight-io` serialization.
io = ["dep:froglight-io"]
# Enable support for serializing to/from text formats.
serde = ["dep:serde", "indexmap/serde"]

# Enable debug logging.
debug = ["dep:tracing-log"]
