[package]
name = "froglight-schedule"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dev-dependencies]
bevy = { workspace = true, default-features = true }
froglight-common = { workspace = true, features = ["bevy"] }

[dependencies]
bevy_app = { workspace = true }
bevy_ecs = { workspace = true }
bevy_log = { workspace = true }
bevy_reflect = { workspace = true }
derive_more = { workspace = true }
froglight-common = { workspace = true, features = ["bevy"] }
hashbrown = { workspace = true }
parking_lot = { workspace = true }

# Optional dependencies
bevy_tasks = { workspace = true, optional = true }
bevy_time = { workspace = true, optional = true }

[features]
default = []

# Enable the `SubAppPlugin`
subapp = ["dep:bevy_time"]
# Enable the multi-threaded SubApp executor
multi_threaded = ["dep:bevy_tasks", "subapp"]

# Enable tracing
trace = ["bevy_log/trace", "bevy/trace_tracy"]

[[example]]
name = "subapp"
required-features = ["subapp"]
