[package]
name = "froglight-components"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dependencies]
bevy_ecs = { workspace = true, optional = true }
compact_str = { workspace = true, features = ["serde", "smallvec"] }
derive_more = { workspace = true }
hashbrown = { workspace = true }
serde = { workspace = true, features = ["derive"], optional = true }
thiserror = { workspace = true }
uuid = { workspace = true }


[features]
default = ["bevy"]

# Derives `Component` for some types.
bevy = ["dep:bevy_ecs"]

# Derives `Serialize` and `Deserialize` for some types.
serde = ["dep:serde", "compact_str/serde", "uuid/serde"]
