[package]
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
name = "froglight-entity"
readme = { workspace = true }
repository = { workspace = true }
version = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dependencies]
base64 = { features = ["alloc"], workspace = true }
bevy_platform = { features = ["alloc"], workspace = true }
derive_more = { workspace = true }
downcast-rs = { workspace = true }
froglight-common = { workspace = true }
froglight-macros = { features = ["entity"], workspace = true }
froglight-nbt = { workspace = true }
glam = { workspace = true }
hashify = { workspace = true }
indexmap = { workspace = true }
md-5 = { workspace = true }
parking_lot = { workspace = true }
smol_str = { workspace = true }
thiserror = { workspace = true }
uuid = { features = ["md5"], workspace = true }

# Optional dependencies
bevy_ecs = { optional = true, workspace = true }
bevy_math = { optional = true, workspace = true }
bevy_reflect = { features = ["glam", "smol_str", "uuid"], optional = true, workspace = true }
froglight-io = { optional = true, workspace = true }
serde = { features = ["derive"], optional = true, workspace = true }
serde_json = { optional = true, workspace = true }
ureq = { features = ["json"], optional = true, workspace = true }

[features]
default = ["online", "std"]

# Enable accessing online APIs.
online = ["dep:ureq", "serde", "std"]
# Enable `froglight-io` support.
io = ["dep:froglight-io", "std"]

# Enable `bevy` support.
bevy = ["dep:bevy_ecs", "dep:bevy_math", "froglight-common/bevy", "froglight-nbt/reflect"]
# Enable `bevy_reflect` support.
reflect = ["bevy", "bevy_ecs?/bevy_reflect", "bevy_math?/bevy_reflect", "dep:bevy_reflect", "froglight-common/reflect"]

# Enable `serde` serialization support.
serde = [
  "bevy_platform/serialize",
  "dep:serde",
  "dep:serde_json",
  "froglight-common/serde",
  "froglight-io?/serde",
  "froglight-nbt/serde",
  "glam/serde",
  "smol_str/serde",
  "uuid/serde",
]

# Enable nightly features.
nightly = ["froglight-io?/nightly", "froglight-nbt/nightly", "parking_lot/nightly"]

# Enable support for the rust standard library.
std = [
  "base64/std",
  "bevy_ecs?/std",
  "bevy_platform/std",
  "bevy_reflect?/std",
  "froglight-nbt/std",
  "glam/std",
  "md-5/std",
  "serde?/std",
  "serde_json?/std",
  "smol_str/std",
  "uuid/std",
]
# Enable `no_std` support for `glam`.
libm = ["bevy_math?/libm", "glam/libm"]

# Enable support for v1.21.4
v1_21_4 = ["froglight-common/v1_21_4"]
# Enable support for v1.21.5
v1_21_5 = ["froglight-common/v1_21_5"]
