[package]
name = "froglight-entity"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dependencies]
bevy_ecs = { workspace = true }
derive_more = { workspace = true }
froglight-components = { version = "0.1.0", path = "../froglight-components", features = [
    "bevy",
] }
