[package]
name = "froglight-internal"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dev-dependencies]
bevy_mod_debugdump = "0.10.0"
serde_json = { workspace = true }

[dependencies]
bevy = { workspace = true, default-features = false, optional = true, features = [
    "multi-threaded",
] }
froglight-entity = { version = "0.1.0", path = "../froglight-entity" }
froglight-network = { version = "0.1.0", path = "../froglight-network", features = [
    "bevy",
    "resolver",
] }
froglight-physics = { version = "0.1.0", path = "../froglight-physics" }
froglight-protocol = { version = "0.1.0", path = "../froglight-protocol", features = [
    "bevy",
] }
froglight-registry = { version = "0.1.0", path = "../froglight-registry" }
froglight-utils = { version = "0.1.0", path = "../froglight-utils", features = [
    "froglight-components",
    "froglight-network",
    "froglight-world",
] }
froglight-world = { version = "0.1.0", path = "../froglight-world", features = [
    "bevy",
    "froglight-registry",
] }

[features]
default = ["presets"]

# Enables preset plugin groups
presets = ["dep:bevy"]

[[example]]
name = "system-graph"
path = "examples/system-graph/main.rs"

[[example]]
name = "server-login"
path = "examples/server-login/main.rs"

[[example]]
name = "server-status"
path = "examples/server-status/main.rs"
