[package]
name = "froglight-internal"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dependencies]
froglight-block = { workspace = true }
froglight-common = { workspace = true }
froglight-inventory = { workspace = true, features = ["world"] }
froglight-item = { workspace = true, features = ["block"] }
froglight-nbt = { workspace = true }
froglight-network = { workspace = true, features = ["inventory"] }
froglight-player = { workspace = true }
froglight-registry = { workspace = true }
froglight-world = { workspace = true, features = ["block"] }

# Optional dependencies
froglight-brigadier = { workspace = true, optional = true }

# Nightly dependencies
crc32fast = { workspace = true, optional = true, features = ["nightly"] }
glam = { workspace = true, optional = true, features = ["core-simd"] }
hashbrown = { workspace = true, optional = true, features = ["nightly"] }
parking_lot = { workspace = true, optional = true, features = ["nightly"] }
rangemap = { workspace = true, optional = true, features = ["nightly"] }
rsa = { workspace = true, optional = true, features = ["nightly"] }
simd_cesu8 = { workspace = true, optional = true, features = ["nightly"] }

[features]
default = ["bevy", "brigadier"]

# Enable the `froglight-brigadier` crate.
brigadier = ["dep:froglight-brigadier", "froglight-network/brigadier", "bevy"]

# Enable `bevy` support.
bevy = [
  "froglight-block/bevy",
  "froglight-common/bevy",
  "froglight-inventory/bevy",
  "froglight-item/bevy",
  "froglight-nbt/bevy",
  "froglight-network/bevy",
  "froglight-registry/bevy",
  "froglight-world/bevy",
]
# Enable nightly features.
nightly = [
  "dep:crc32fast",
  "dep:glam",
  "dep:hashbrown",
  "dep:parking_lot",
  "dep:rangemap",
  "dep:rsa",
  "dep:simd_cesu8",
]

# Enable support for v1.21.4
v1_21_4 = [
  "froglight-block/v1_21_4",
  "froglight-inventory/v1_21_4",
  "froglight-item/v1_21_4",
  "froglight-network/v1_21_4",
  "froglight-registry/v1_21_4",
  "froglight-world/v1_21_4",
]
# Enable support for v1.21.5
v1_21_5 = [
  "froglight-block/v1_21_5",
  "froglight-inventory/v1_21_5",
  "froglight-item/v1_21_5",
  "froglight-network/v1_21_5",
  "froglight-registry/v1_21_5",
  "froglight-world/v1_21_5",
]
