[package]
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
name = "froglight-internal"
readme = { workspace = true }
repository = { workspace = true }
version = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dependencies]
froglight-block = { workspace = true }
froglight-common = { workspace = true }
froglight-entity = { workspace = true }
froglight-inventory = { workspace = true, features = ["world"] }
froglight-item = { workspace = true, features = ["block"] }
froglight-nbt = { workspace = true }
froglight-network = { workspace = true, optional = true, features = ["inventory"] }
froglight-registry = { workspace = true }
froglight-text = { workspace = true }
froglight-world = { workspace = true, features = ["block"] }

# Optional dependencies
froglight-brigadier = { workspace = true, optional = true, features = ["glam", "nbt", "uuid"] }
froglight-resolver = { workspace = true, optional = true, features = ["agent"] }
froglight-schedule = { workspace = true, optional = true }

[features]
default = ["bevy", "brigadier", "std"]

# Enable the `froglight-brigadier` crate.
brigadier = ["bevy", "dep:froglight-brigadier", "froglight-network/brigadier"]

# Enable `bevy` support.
bevy = [
  "dep:froglight-schedule",
  "froglight-block/bevy",
  "froglight-common/bevy",
  "froglight-entity/bevy",
  "froglight-inventory/bevy",
  "froglight-item/bevy",
  "froglight-nbt/reflect",
  "froglight-network/bevy",
  "froglight-registry/bevy",
  "froglight-resolver?/bevy",
  "froglight-world/bevy",
]

# Enable nightly features.
nightly = [
  # "froglight-block/nightly",
  # "froglight-common/nightly",
  # "froglight-entity/nightly",
  # "froglight-inventory/nightly",
  # "froglight-item/nightly",
  # "froglight-nbt/nightly",
  # "froglight-network?/nightly",
  # "froglight-registry/nightly",
  # "froglight-schedule?/nightly",
  # "froglight-resolver?/nightly",
  # "froglight-world/nightly",
]

# Enable support for rust's standard library.
std = [
  "dep:froglight-resolver",
  "froglight-brigadier?/std",
  "froglight-common/alloc",
  "froglight-entity/online",
  "froglight-entity/std",
  "froglight-inventory/std",
  "froglight-nbt/std",
  "froglight-network/io",
  "froglight-network/std",
  "froglight-schedule?/std",
  "froglight-text/ansi",
  "froglight-text/std",
  "froglight-world/std",

]
# Enable `no_std` support for `glam`.
libm = ["froglight-brigadier?/libm", "froglight-network/libm", "froglight-world/libm"]

# Enable support for v1.21.4
v1_21_4 = [
  "froglight-block/v1_21_4",
  "froglight-inventory/v1_21_4",
  "froglight-item/v1_21_4",
  "froglight-network/v1_21_4",
  "froglight-registry/v1_21_4",
  "froglight-world/v1_21_4",
]
# Enable support for v1.21.5
v1_21_5 = [
  "froglight-block/v1_21_5",
  "froglight-inventory/v1_21_5",
  "froglight-item/v1_21_5",
  "froglight-network/v1_21_5",
  "froglight-registry/v1_21_5",
  "froglight-world/v1_21_5",
]
