[package]
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
name = "froglight-internal"
readme = { workspace = true }
repository = { workspace = true }
version = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dependencies]
froglight-block = { workspace = true }
froglight-common = { workspace = true }
froglight-inventory = { workspace = true, features = ["world"] }
froglight-item = { workspace = true, features = ["block"] }
froglight-nbt = { workspace = true }
froglight-network = { workspace = true, features = ["resolver"] }
froglight-player = { workspace = true, features = ["ansi", "online"] }
froglight-registry = { workspace = true }
froglight-world = { workspace = true, features = ["block"] }

# Optional dependencies
froglight-brigadier = { workspace = true, optional = true, features = ["nbt"] }
froglight-schedule = { workspace = true, optional = true }

[features]
default = ["bevy", "brigadier", "std"]

# Enable the `froglight-brigadier` crate.
brigadier = ["bevy", "dep:froglight-brigadier", "froglight-network/brigadier"]

# Enable `bevy` support.
bevy = [
  "dep:froglight-schedule",
  "froglight-block/bevy",
  "froglight-common/bevy",
  "froglight-inventory/bevy",
  "froglight-item/bevy",
  "froglight-nbt/bevy",
  "froglight-network/bevy",
  "froglight-player/bevy",
  "froglight-registry/bevy",
  "froglight-world/bevy",
]

# Enable nightly features.
nightly = [
  # "froglight-block/std",
  # "froglight-common/std",
  # "froglight-inventory/std",
  # "froglight-item/std",
  # "froglight-nbt/std",
  # "froglight-network/std",
  # "froglight-player/std",
  # "froglight-registry/std",
  # "froglight-schedule?/nightly",
  # "froglight-world/std",
]
# Enable support for rust's standard library.
std = [
  "froglight-common/alloc",
  # "froglight-inventory/std",
  # "froglight-nbt/std",
  # "froglight-player/std",
  # "froglight-registry/std",
  # "froglight-schedule?/std",
  # "froglight-world/std",
]

# Enable support for v1.21.4
v1_21_4 = [
  "froglight-block/v1_21_4",
  "froglight-inventory/v1_21_4",
  "froglight-item/v1_21_4",
  "froglight-network/v1_21_4",
  "froglight-registry/v1_21_4",
  "froglight-world/v1_21_4",
]
# Enable support for v1.21.5
v1_21_5 = [
  "froglight-block/v1_21_5",
  "froglight-inventory/v1_21_5",
  "froglight-item/v1_21_5",
  "froglight-network/v1_21_5",
  "froglight-registry/v1_21_5",
  "froglight-world/v1_21_5",
]
