[package]
name = "froglight-core"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }


[lints]
workspace = true

[dependencies]
bevy = { workspace = true }
big_space = { workspace = true }
derive_more = { workspace = true }
froglight-protocol = { version = "0.1.0", path = "../froglight-protocol" }
