[package]
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
name = "froglight-registry"
readme = { workspace = true }
repository = { workspace = true }
version = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dependencies]
bevy_platform = { features = ["alloc"], workspace = true }
derive_more = { workspace = true }
downcast-rs = { workspace = true }
froglight-common = { workspace = true }
froglight-macros = { features = ["registry"], workspace = true }
froglight-nbt = { workspace = true }
indexmap = { workspace = true }
parking_lot = { workspace = true }
smol_str = { workspace = true }

# Optional dependencies
bevy_ecs = { optional = true, workspace = true }
bevy_reflect = { optional = true, workspace = true }

[features]
default = []

# Enable `bevy` support.
bevy = ["dep:bevy_ecs", "dep:bevy_reflect", "froglight-common/bevy"]
# Enable `bevy_reflect` support.
reflect = ["bevy_ecs?/bevy_reflect", "dep:bevy_reflect", "froglight-common/reflect", "froglight-nbt/reflect"]

# Enable nightly features.
nightly = ["froglight-nbt/nightly", "parking_lot/nightly"]

# Enable support for v1.21.4
v1_21_4 = ["froglight-common/v1_21_4"]
# Enable support for v1.21.5
v1_21_5 = ["froglight-common/v1_21_5"]
