[package]
name = "froglight-settings"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dependencies]
bevy_app = { workspace = true }
bevy_asset = { workspace = true, optional = true }
bevy_derive = { workspace = true }
bevy_ecs = { workspace = true }
bevy_log = { workspace = true }
dirs = "5.0.1"
serde = { workspace = true, features = ["derive"] }
toml = { version = "0.8.12", features = ["parse", "preserve_order"] }

[features]
default = ["bevy_asset"]

# Registers the "frog://" AssetSource
bevy_asset = ["dep:bevy_asset"]
