[package]
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
name = "froglight-physics"
readme = { workspace = true }
repository = { workspace = true }
version = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dependencies]
bevy_platform = { workspace = true, features = ["alloc"] }
derive_more = { workspace = true }
froglight-common = { workspace = true }
froglight-entity = { workspace = true }
glam = { workspace = true }
smol_str = { workspace = true }

# Optional dependencies
bevy_app = { workspace = true, optional = true, features = ["bevy_reflect"] }
bevy_ecs = { workspace = true, optional = true, features = ["bevy_reflect"] }
bevy_math = { workspace = true, optional = true, features = ["bevy_reflect"] }
bevy_reflect = { workspace = true, optional = true }
bevy_transform = { workspace = true, optional = true, features = ["bevy_reflect"] }

[features]
default = ["std"]

# Enable `bevy` support.
bevy = [
  "dep:bevy_app",
  "dep:bevy_ecs",
  "dep:bevy_math",
  "dep:bevy_reflect",
  "dep:bevy_transform",
  "froglight-common/bevy",
  "froglight-common/reflect",
  "froglight-entity/bevy",
]

# Enable nightly features.
nightly = ["froglight-entity/nightly"]

# Enable support for the rust standard library.
std = ["bevy_ecs?/std", "bevy_math?/std", "bevy_platform/std", "bevy_reflect?/std", "froglight-entity/std"]
# Enable `no_std` support for `glam`.
libm = ["bevy_math?/libm", "froglight-entity/libm", "glam/libm"]
