[package]
name = "froglight-physics"

[package.version]
workspace = true
[package.edition]
workspace = true
[package.license]
workspace = true
[package.authors]
workspace = true
[package.homepage]
workspace = true
[package.repository]
workspace = true
[package.readme]
workspace = true

[lints]
workspace = true

[dependencies]
bevy = { workspace = true }
bevy_xpbd_3d = { workspace = true, features = [
    "async-collider",
    "collider-from-mesh",
    "parallel",
    "simd",
] }
froglight-core = { version = "0.1.0", path = "../froglight-core" }
froglight-entities = { version = "0.1.0", path = "../froglight-entities" }
froglight-world = { version = "0.1.0", path = "../froglight-world" }
