[package]
name = "froglight-assets"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
readme = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dependencies]
bevy_app = { workspace = true }
bevy_asset = { workspace = true }
bevy_audio = { workspace = true }
bevy_ecs = { workspace = true }
bevy_log = { workspace = true }
bevy_reflect = { workspace = true }
bevy_render = { workspace = true }
bevy-inspector-egui = { workspace = true, optional = true }
derive_more = { workspace = true }
froglight-core = { version = "0.1.0", path = "../froglight-core" }
froglight-macros = { version = "0.1.0", path = "../froglight-macros", features = [
    "assets",
] }
hashbrown = { workspace = true }

# AssetSource dependencies
dirs = "5.0.1"

# AssetManager dependencies
parking_lot = { workspace = true, optional = true }

# ResourcePack dependencies
async_zip = { version = "0.0.17", features = ["deflate"] }
futures-lite = { workspace = true }
image = { workspace = true, features = ["jpeg", "png"] }
thiserror = { workspace = true }

# Settings dependencies
serde = { workspace = true, features = ["derive"] }
toml = "0.8.12"

[features]
default = ["asset_manager"]

# Enables the `AssetManager` resource for managing assets
asset_manager = ["dep:parking_lot"]

inspector = ["dep:bevy-inspector-egui"]
