name: Security Audit

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - "deny.toml"
      - "Cargo.lock"
      - "Cargo.toml"
  push:
    branches:
      - main
    paths:
      - "deny.toml"
      - "Cargo.lock"
      - "Cargo.toml"
      - ".github/workflows/audit.yml"

env:
  CARGO_TERM_COLOR: always
  CLICOLOR: 1

jobs:
  cargo_deny:
    name: Cargo Deny
    runs-on: ubuntu-latest
    steps:
      # Get the nightly toolchain
      - name: Toolchain
        uses: dtolnay/rust-toolchain@nightly
      # Install the deny tool
      - name: Install Deny
        uses: taiki-e/install-action@9023ed54c080c7ff1b3e4af335c729c3f9cb1dd7 # v2
        with:
          tool: cargo-deny
      # Checkout the repository
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      # Run the deny tool
      - name: Run Deny
        run: cargo deny check
