name: Clippy

on:
  pull_request:
    branches:
      - main
    paths:
      - "src/**.rs"
      - "crates/**.rs"
  push:
    branches:
      - main
    paths:
      - "src/**.rs"
      - "crates/**.rs"
      - ".github/workflows/clippy.yml"

env:
  CARGO_TERM_COLOR: always
  CLICOLOR: 1

jobs:
  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      # Required to upload the results
      security-events: write
    steps:
      # Install required libraries
      - name: Libraries
        if: runner.os == 'linux'
        run: sudo apt-get update; sudo apt-get install --no-install-recommends libasound2-dev libudev-dev libwayland-dev libxkbcommon-dev
      # Get the nightly toolchain
      - name: Toolchain
        uses: dtolnay/rust-toolchain@888c2e1ea69ab0d4330cbf0af1ecc7b68f368cc1 # v1
        with:
          toolchain: nightly
          components: clippy
      # Install clippy-sarif and sarif-fmt
      - name: Install Sarif
        uses: taiki-e/install-action@84c20235bedc3797c7e1ddf685c574a4a6c666da # v2
        with:
          tool: clippy-sarif,sarif-fmt
      # Checkout the repository
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      # Restore/Setup the cache
      - name: Cache
        uses: Swatinem/rust-cache@9d47c6ad4b02e050fd481d890b2ea34778fd09d6 # v2
      # Run the clippy tool
      - name: Run Clippy
        run: >
          cargo clippy --workspace --features=v1_21_4,v1_21_5 -- -D warnings
          | clippy-sarif
          | tee clippy-results.sarif
          | sarif-fmt
        continue-on-error: true
      # Upload the results
      - name: Upload Results
        uses: github/codeql-action/upload-sarif@ce28f5bb42b7a9f2c824e633a3f6ee835bab6858 # v3
        with:
          sarif_file: clippy-results.sarif
          wait-for-processing: true
      # Print the results
      - name: Report Results
        run: cargo clippy --workspace --features=v1_21_4,v1_21_5
