name: Clippy
on: [pull_request, push]

jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
      - name: Libraries
        if: runner.os == 'linux'
        run: sudo apt-get update; sudo apt-get install --no-install-recommends libasound2-dev libudev-dev
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Cache
        uses: Swatinem/rust-cache@v2
      - name: Toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy
      - name: Sarif
        run: cargo install clippy-sarif sarif-fmt
      - name: Clippy
        run: cargo clippy --workspace --all-targets --message-format=json | clippy-sarif | tee results.sarif | sarif-fmt
      - name: Upload Results
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: results.sarif
