name: Spellcheck Pull

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always
  CLICOLOR: 1

jobs:
  spellcheck:
    name: Spellcheck
    runs-on: ubuntu-latest
    steps:
      # Checkout the repository
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          fetch-depth: 2
      # Get all changed .rs files
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@635f118699dd888d737c15018cd30aff2e0274f8 # v44
        with:
          since_last_remote_commit: true
          files: |
             **.rs
      # Run Spellcheck (typos) on changed files
      - name: Spellcheck
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: crate-ci/typos@master
        with:
          files: ${{ steps.changed-files.outputs.all_changed_files }}
