name: Spellcheck Pull

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  checks: write
  issues: write
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always
  CLICOLOR: 1

jobs:
  spellcheck:
    name: Spellcheck
    runs-on: ubuntu-latest
    steps:
      # Checkout the repository
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      # Run Spellcheck (typos)
      - name: Spellcheck
        id: spellcheck
        uses: crate-ci/typos@master
        with:
          write_changes: true
        continue-on-error: true
      # Suggest Changes
      - name: Suggest Changes
        uses: reviewdog/action-suggester@4747dbc9f9e37adba0943e681cc20db466642158 # v1
        if: steps.spellcheck.conclusion == 'failure'
        with:
          tool_name: typos
