name: Spellcheck Pull

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  checks: write
  issues: write
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always
  CLICOLOR: 1

jobs:
  spellcheck:
    name: Spellcheck
    runs-on: ubuntu-latest
    steps:
      # Checkout the repository
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      # Run Spellcheck (typos)
      - name: Spellcheck
        id: spellcheck
        uses: crate-ci/typos@master
        with:
          write_changes: true
        continue-on-error: true
      # Suggest Changes
      - name: Suggest Changes
        uses: reviewdog/action-suggester@aa38384ceb608d00f84b4690cacc83a5aba307ff # v1
        if: steps.spellcheck.conclusion == 'failure'
        with:
          tool_name: typos
