name: Tests

on:
  pull_request:
    branches:
      - main
    paths:
      - "Cargo.lock"
      - "src/**.rs"
      - "crates/**.rs"
  push:
    branches:
      - main
    paths:
      - "Cargo.lock"
      - "src/**.rs"
      - "crates/**.rs"
      - ".github/workflows/testing.yml"

env:
  CARGO_TERM_COLOR: always
  CLICOLOR: 1

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      # Install required libraries
      - name: Libraries
        if: runner.os == 'linux'
        run: sudo apt-get update; sudo apt-get install --no-install-recommends libasound2-dev libudev-dev libwayland-dev libxkbcommon-dev
      # Get the nightly toolchain
      - name: Toolchain
        uses: dtolnay/rust-toolchain@1482605bfc5719782e1267fd0c0cc350fe7646b8 # v1
        with:
          toolchain: nightly
      # Install the nextest tool
      - name: Install Nextest
        uses: taiki-e/install-action@05515455a9007c7c6f0b215637566ab8e9872c12 # v2
        with:
          tool: nextest
      # Checkout the repository
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      # Restore/Setup the cache
      - name: Cache
        uses: Swatinem/rust-cache@82a92a6e8fbeee089604da2575dc567ae9ddeaab # v2
      # Run the nextest tool
      - name: Run Nextest
        run: cargo nextest run --workspace --all-targets
      # Run doctests separately
      - name: Run Doctests
        run: cargo test --doc --workspace
