name: Tests

on:
  workflow_dispatch:
  pull_request:
    paths:
      - '**/Cargo.toml'
      - '**/Cargo.lock'
      - '**.rs'
  push:
    paths:
      - '**/Cargo.toml'
      - '**/Cargo.lock'
      - '**.rs'

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      - name: Libraries
        if: runner.os == 'linux'
        run: sudo apt-get update; sudo apt-get install --no-install-recommends libasound2-dev libudev-dev

      - name: Toolchain
        uses: dtolnay/rust-toolchain@nightly

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true

      - name: Nextest
        uses: taiki-e/install-action@v2
        with:
          tool: nextest

      - name: Tests
        run: cargo nextest run --workspace --all-targets

      - name: Doctests
        run: cargo test --doc --workspace
