name: Tests

on:
  pull_request:
    branches:
      - main
    paths:
      - "**/Cargo.toml"
      - "**.rs"
  push:
    branches:
      - main
    paths:
      - "**/Cargo.toml"
      - "**.rs"
      - ".github/workflows/testing.yml"

env:
  CARGO_TERM_COLOR: always
  CLICOLOR: 1

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      # Install required libraries
      - name: Libraries
        if: runner.os == 'linux'
        run: sudo apt-get update; sudo apt-get install --no-install-recommends libasound2-dev libudev-dev libwayland-dev libxkbcommon-dev
      # Get the nightly toolchain
      - name: Toolchain
        uses: dtolnay/rust-toolchain@b3b07ba8b418998c39fb20f53e8b695cdcc8de1b # v1
        with:
          toolchain: nightly
      # Install the nextest tool
      - name: Install Nextest
        uses: taiki-e/install-action@9ba3ac3fd006a70c6e186a683577abc1ccf0ff3a # v2
        with:
          tool: nextest
      # Checkout the repository
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      # Restore/Setup the cache
      - name: Cache
        uses: Swatinem/rust-cache@9d47c6ad4b02e050fd481d890b2ea34778fd09d6 # v2
      # Run nextest with the default features
      - name: Run Nextest
        run: cargo nextest run --workspace --features=v1_21_4,v1_21_5,v1_21_6
      - name: Run Nextest (no_std)
        run: cargo nextest run --workspace --no-default-features --features=brigadier,libm,v1_21_4,v1_21_5,v1_21_6
      # Run doctests with the default features
      - name: Run Doctests
        run: cargo test --doc --workspace --features=v1_21_4,v1_21_5,v1_21_6
